
@{
    ViewData["Title"] = "Anticorrypt";
}


<div class="row">
    <div class="col text-center">
        <h3>Антикоррупционные мероприятия </h3>
    </div>

    <div class="col-md-12">
        <table class="table">
            <tr>
                <td>
                    <a href="~/docs/corypt/Антикоррупционные мероприятия.pdf" class="embed">
                        Антикоррупционные мероприятия
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/docs/corypt/Взаимодействия МКИТ КР  с правоохранительными органами.pdf" class="embed">
                        Взаимодействия МКИТ КР  с правоохранительными органами
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/docs/corypt/Информация об исполнении детализированного плана по демонтажу системной коррупции в МКИТ КР.pdf" class="embed">
                        Информация об исполнении детализированного плана по демонтажу системной коррупции в МКИТ КР
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/docs/corypt/Перечень коррупционных должностей МКИТ КР.pdf" class="embed">
                        Перечень коррупционных должностей МКИТ КР
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/docs/corypt/Перечень коррупционных должностей МКИТ КР.pdf" class="embed">
                        Перечень коррупционных должностей МКИТ КР
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/docs/corypt/Перечень куррупционных рисков.pdf" class="embed">
                        Перечень куррупционных рисков
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/docs/corypt/План мероприятий по противодействию коррупции на 2019 -2021 годы.pdf" class="embed">
                        План мероприятий по противодействию коррупции на 2019 -2021 годы
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/docs/corypt/План работы комиссии по предупреждению и противодействию коррупции.pdf" class="embed">
                        План работы комиссии по предупреждению и противодействию коррупции
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="~/docs/corypt/Типовое положение об уполномоченном по вопросам предупреждения коррупции в государственных органах.pdf" class="embed">
                        Типовое положение об уполномоченном по вопросам предупреждения коррупции в государственных органах
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>

