@model WebSite.Models.Obrashenie
@{
    ViewData["Title"] = "AppealsOfCitizens";
}

<div class="container ">
    <br /><br />

    <div class="row">
        <div class="col text-center">
            <div class="section_title">Обращение граждан</div>
        </div>
    </div>
    <br /><br />
    <div class="text-dark">
        <h4>Урматтуу сайттын колдонуучулары!</h4>

        <p class="text-dark">Сиздин интернет-кайрылууңузду электрондук почта аркылуу мамлекеттик органдардын жана жергиликтүү ѳз алдынча башкаруу органдарынын дарегине жѳнѳтүүчү Порталга кош келиңиз.</p>

        <p class="text-dark">Кайрылууну электрондук почта аркылуу жѳнѳтүүнүн алдында Сизге нускама менен таанышууну сунуштайбыз.</p>

        <h5>Электрондук кайрылуулар боюнча нускама</h5>

        <p class="text-dark">Кайрылууңузду электрондук почта аркылуу мамлекеттик органдардын жана жергиликтүү ѳз алдынча башкаруу органдарынын дарегине жѳнѳтүүнүн алдында тѳмѳнкү маалымат менен таанышыңыз.</p>

        <p class="text-dark">
            1. Кайрылуулардын Порталы аркылуу электрондук түрдѳ жѳнѳтүлгѳн кайрылуулар Кыргыз Республикасынын мамлекеттик органдарынын кароосуна келип түшѳт.<br />
            2. Электрондук кайрылууну жѳнѳтүүнүн алдында форманы туура толтуруу зарыл.<br />
            3. Эгерде кайрылуучу жарандын фамилиясы, аты, атасынын аты (акыркысы – бар болсо) жана электрондук почтанын дареги (e-mail) кѳрсѳтүлгѳн болсо, жооп авторго электрондук документ формасында жѳнѳтүлѳт.<br />
            4. Кайрылуунун каралышы жѳнүндѳ анын авторуна билдирме формада кѳрсѳтүлгѳн электрондук почтанын дареги (e-mail) боюнча электрондук түрдѳ жѳнѳтүлѳт.<br />
            5. Электрондук кайрылуунун кѳлѳмү 4 миң белгиден ашпайт.<br />
            6. Кайрылуу архивдештирилбестен бир файлга салынган электрондук документтерди жана материалдарды камтыйт. Салынган файлдын кѳлѳмү 5 Мб ашпайт. Тѳмѳнкү форматтагы файлдар салынат: txt, doc, rtf, xls, pps, ppt, pdf, jpg, bmp, png, tif, pcx, mp3, wma, avi, mp4, mkv, wmv, mov, flv. Башка форматтар иштетилбейт.<br />
            7. Кайрылуулар «Жарандардын кайрылууларын кароо тартиби жѳнүндѳ» Кыргыз Республикасынын Мыйзамынын 6-беренесине ылайык тѳмѳнкү учурларда кароого кабыл алынбайт:
        </p>

        <ul class="ml-5 text-dark">
            <li><b>- адепсиз жана кемсинтүүчү, мазактоочу сѳздѳр камтылса;</b></li>
            <li><b>- текст латиницаны колдонуу менен орус тилинде жазылса же бардык сѳздѳр баш тамга менен жазылса, сүйлѳмдѳргѳ ажыратылбаса;</b></li>
            <li><b>- почтасынын дареги толук жана так кѳрсѳтүлбөсѳ;</b></li>
            <li><b>- кайрылуу арыздануу, даттануу, сунуштоо иретинде жазылбаса;</b></li>
            <li><b>- андан тышкары, мамлекеттик бийликте тѳңкѳрүш жасоого, улуттар аралык жана конфессиялар аралык жаңжалга үгүттѳѳлѳрдү камтыса.</b></li>
        </ul>

        <br />

        <p class="text-dark">8. Электрондук түрдѳ жѳнѳтүлгѳн кайрылуулардын авторлорунун жекече маалыматтары жекече маалымат жѳнүндѳ мыйзамдын талаптарын сактоо менен сакталат жана иштетилет.</p>

    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="AppealsOfCitizens">
            <table class="table">
                <tr>
                    <td width="20%">Тема:</td>
                    <td width="60%"><input id="Theme" name="Theme" class="form-control" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ФИО:</td>
                    <td><input id="FIO" name="FIO" class="form-control" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>E-майл:</td>
                    <td><input id="Email" name="Email" class="form-control" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Сообщение:</td>
                    <td><textarea id="Message" name="Message" class="form-control" style="width:450px;height:150px;"></textarea> </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Отправить сообщение" class="btn-primary" /> </td>
                    <td></td>
                </tr>
            </table>
        </form>
        <br />
        <h4>@ViewBag.Result </h4>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<br />
