
@{
    ViewData["Title"] = "Documents";
}
 

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="section_title">
                    <h4>
                        Акты, регулирующие деятельность Министерства
                    </h4>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <br />

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-messages-list" data-toggle="list" href="#list-law" role="tab" aria-controls="reglament">Законы</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">НПА Информационная политика </a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">НПА Кинематография</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-reglament" role="tab" aria-controls="reglament">Регламент</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-corypt" role="tab" aria-controls="messages">Нормативные правовые акты в сфере противодействия коррупции</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
                        ПОЛОЖЕНИЕ
                        о Департаменте информации и массовых коммуникаций
                    </a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-dosug" role="tab" aria-controls="dosug">
                        ПОЛОЖЕНИЕ
                        о Национальном культурном центре
                    </a>
                </div>
            </div>           
            
            <div class="col-6">
                <div class="tab-content" id="nav-tabContent">
              
                    <div class="tab-pane fade" id="list-corypt" role="tabpanel" aria-labelledby="list-profile-list">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">
                                <a href="~/docs/corypt/Poryadok.pdf" target="_blank">
                                    Порядок
                                    взаимодействия Министерства культуры, информации и туризма
                                    Кыргызской Республики с правоохранительными органами по вопросам
                                    предупреждения и противодействия коррупции
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-primary">
                                <a href="~/docs/corypt/Prikaz.pdf" target="_blank">
                                    Приказ
                                    О внесении изменения в приказ Министерства
                                    культуры, информации и туризма Кыргызской Республики
                                    «Об образовании комиссии по противодействию коррупции»
                                    от 2 февраля 2016 года №35
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-secondary">
                                <a href="~/docs/corypt/Plan.pdf" target="_blank">
                                    План работы комиссии по предупреждению и противодействию
                                    коррупции в министерстве культуры, информации и туризма
                                    Кыргызской Республики на 2020 год
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-success">
                                <a href="~/docs/corypt/PrikazPlan.pdf" target="_blank">
                                    Приказ Об утверждении Плана мероприятий по противодействию коррупции
                                    на 2019-2021 годы в Министерстве культуры
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <a href="~/docs/corypt/PrikazPlan.pdf" target="_blank">
                                    ТИПОВОЕ ПОЛОЖЕНИЕ
                                    об уполномоченном по вопросам предупреждения
                                    коррупции в государственных органах и органах
                                    местного самоуправления Кыргызской Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <a href="~/docs/corypt/VamPoryadok.pdf" target="_blank">
                                    Порядок
                                    взаимодействия Министерства культуры, информации и туризма
                                    Кыргызской Республики с правоохранительными органами по вопросам
                                    предупреждения и противодействия коррупции
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                <a href="~/docs/corypt/Conflict.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ О конфликте интересов
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-primary">
                                <a href="~/docs/corypt/Anticor.pdf" target="_blank">
                                    Антикоррупционные мероприятия
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="tab-pane fade" id="list-reglament" role="tabpanel" aria-labelledby="list-profile-list">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">
                                <a href="~/docs/Reglament.pdf" target="_blank">
                                    РЕГЛАМЕНТ
                                    Министерства культуры, информации и туризма
                                    Кыргызской Республики
                                </a>
                            </li>
                        </ul>
                    </div>



                    <div class="tab-pane fade show active" id="list-law" role="tabpanel" aria-labelledby="list-profile-list">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">
                                <a href="~/docs/law/ZakonOKulture.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ О культуре
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <a href="~/docs/law/ZakonONem.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ О нематериальном культурном наследии Кыргызской
                                    Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <a href="~/docs/law/ZakonOMuzei.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ О музеях и Музейном фонде Кыргызской Республики
                                    Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                <a href="~/docs/law/ZakonOBib.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ О библиотечном деле
                                    Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-primary">
                                <a href="~/docs/law/ZakonObIKN.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ Об охране и использовании историко-культурного наследия
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-secondary">
                                <a href="~/docs/law/PolojenieOMKIT.pdf" target="_blank">
                                    ЗПОЛОЖЕНИЕ
                                    о Министерстве культуры, информации и туризма
                                    Кыргызской Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-primary">
                                <a href="~/docs/law/ZakonOManas.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ Об эпосе "Манас"
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-success">
                                <a href="~/docs/law/KonsepsiaIKN.pdf" target="_blank">
                                    КОНЦЕПЦИЯ
                                    по охране и использованию историко-культурного
                                    наследия Кыргызской Республики на 2015-2020 годы
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-warning">
                                <a href="~/docs/law/PolonieONEM.pdf" target="_blank">
                                    ПОЛОЖЕНИЕ
                                    о классификации элементов нематериального
                                    культурного наследия Кыргызской Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-primary">
                                <a href="~/docs/law/PolojenieGosCat.pdf" target="_blank">
                                    ПОЛОЖЕНИЕ
                                    о Государственном каталоге Музейного фонда
                                    Кыргызской Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                <a href="~/docs/law/PolojenieObOplate.pdf" target="_blank">
                                    ПОЛОЖЕНИЕ
                                    об условиях оплаты труда работников учреждений
                                    культуры, искусства и информации
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-primary">
                                <a href="~/docs/law/PolojenieOVvoze.pdf" target="_blank">
                                    ПОЛОЖЕНИЕ
                                    о порядке ввоза на территорию Кыргызской Республики и
                                    вывоза за ее пределы объектов культурных ценностей
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <a href="~/docs/law/PolojenieUstVyp.pdf" target="_blank">
                                    ПОЛОЖЕНИЕ
                                    о порядке установления и выплаты надбавок за выслугу
                                    лет работникам учреждений системы культуры, искусства
                                    и информации
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <a href="~/docs/law/PolojPoryadok.pdf" target="_blank">
                                    ПОРЯДОК
                                    включения музейных предметов и музейных коллекций в состав и исключение из состава Музейного фонда Кыргызской Республики

                                </a>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <a href="~/docs/law/Postanovlenie.pdf" target="_blank">
                                    ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                                    Об утверждении Положения об учете, охране, реставрации и использовании объектов историко-культурного наследия Кыргызской Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <a href="~/docs/law/PostanUtv.pdf" target="_blank">
                                    ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                                    Об утверждении типовых предельных штатов
                                    учреждений культуры, искусства и информации
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <ul class="list-group">
                            <li class="list-group-item">Нормативные правовые акты в сфере информационной политики</li>
                            <li class="list-group-item list-group-item-warning">
                                <a href="~/docs/informpolitics/ZakonORazrDoc.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ О лицензионно-разрешительной системе в Кыргызской Республике
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <a href="~/docs/informpolitics/ZakonORazrDocKyrg.pdf" target="_blank">
                                    КЫРГЫЗ РЕСПУБЛИКАСЫНЫН МЫЙЗАМЫ Кыргыз Республикасындагы лицензиялык-уруксат берүү тутуму жөнүндө
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-secondary">
                                <a href="~/docs/informpolitics/ZakonOteleRadio.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ О телевидении и радиовещании
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <a href="~/docs/informpolitics/ZakonOteleRadioKyrg.pdf" target="_blank">
                                    КЫРГЫЗ РЕСПУБЛИКАСЫНЫН МЫЙЗАМЫ Телекөрсөтүү жана радиоуктуруу жөнүндө
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <a href="~/docs/informpolitics/ZakonObOsnovax.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ Об основах административной деятельности и административных процедурах
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-light">
                                <a href="~/docs/law/postanRod.pdf" target="_blank">
                                    ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                                    О Перечне государственных организаций,
                                    в которых допускается совместная
                                    работа родственников
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <ul class="list-group">
                            <li class="list-group-item">Нормативные правовые акты в сфере противодействия коррупции</li>
                            <li class="list-group-item list-group-item-warning">
                                <a href="~/docs/kono/ZakonOGosPodKinem.pdf" target="_blank">
                                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ О государственной поддержке кинематографии
                                    Кыргызской Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <a href="~/docs/kono/Myizam.pdf" target="_blank">
                                    КЫРГЫЗ РЕСПУБЛИКАСЫНЫН МЫЙЗАМЫ Кыргыз Республикасынын
                                    кинематографиясын мамлекеттик колдоо жөнүндө
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-secondary">
                                <a href="~/docs/kono/PostanovlenieProkat.pdf" target="_blank">
                                    ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                                    О Правилах проката киновидеофильмов на территории Кыргызской Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <a href="~/docs/kono/PolojenieKinem.pdf" target="_blank">
                                    ПОЛОЖЕНИЕ о Департаменте кинематографии при Министерстве культуры, информации и туризма Кыргызской Республики
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <a href="~/docs/kono/JoboKino.pdf" target="_blank">
                                    Кыргыз Республикасынын Маданият, маалымат жана туризм министрлигинин алдындагы Кинематография
                                    департаменти жөнүндө ЖОБО
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-light">РАСПОРЯЖЕНИЕ ПРАВИТЕЛЬСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ  г.Бишкек, от 28.11. 2014 года № 531-р</li>
                            <li class="list-group-item list-group-item-primary">РАСПОРЯЖЕНИЕ ПРАВИТЕЛЬСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ  г.Бишкек, от 18 мая  2016 года № 281</li>
                            <li class="list-group-item list-group-item-secondary">Постановление Правительства Кыргызской Республики «ТИПОВОЕ ПОЛОЖЕНИЕ об уполномоченном по вопросам предупреждения коррупции в государственных органах и органах местного самоуправления Кыргызской Республики» от 16 сентября 2015 года № 642</li>
                            <li class="list-group-item list-group-item-success">Постановление Правительства Кыргызской Республики от 14 декабря 2016 года № 67, ПОЛОЖЕНИЕ о порядке передачи подарков, полученных в связи с протокольными мероприятиями, служебными командировками и другими официальными мероприятиями лицами, замещающими государственные и муниципальные должности Кыргызской Республики, и правилах их выкупа</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">Ведомственные акты  в  сфере противодействии коррупции</li>
                            <li class="list-group-item list-group-item-success">Приказ МКИТ КР «О комиссии по противодействию коррупции» от 23.05.2017 года № 187</li>
                            <li class="list-group-item list-group-item-warning">Приказ МКИТ КР «Об утверждении положения «Об уполномоченном по вопросам предупреждения коррупции в  Министерстве культуры, информации и туризма»  от  23.05.2017 года № 188</li>
                            <li class="list-group-item list-group-item-danger">Приказ МКИТ КР «Во исполнения распоряжения Правительства Кыргызской Республики от 18 мая 2016 года №2812 о сформировании перечней коррупционных рисков и коррупционных должностей в государственных органах,  от  01.06.2017 года  № 216</li>
                            <li class="list-group-item list-group-item-info">Приказ МКИТ КР «Об утверждении должностной инструкции уполномоченного по вопросам предупреждения коррупции в  Министерстве культуры, информации и туризма» от  22.11.2017 года       № 481</li>
                            <li class="list-group-item list-group-item-light">Приказ МКИТ КР «О создании рабочей группы по реализации детализированного Плана антикоррупционных мероприятий в системе министерства» от  19.12.2017 года № 523</li>
                            <li class="list-group-item list-group-item-primary">Приказ МКИТ КР «Об утверждении Плана мероприятий по противодействию коррупции на 2018 год» от  16.03.2018 года № 107</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">Комиссия Министерства культуры, информации и туризма по предупреждению коррупции</li>
                            <li class="list-group-item list-group-item-primary">Приказ МКИТ КР «О комиссии по противодействию коррупции» от 23.05.2017 года № 187</li>
                        </ul>

                    </div>

                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        <strong>
                            ПОЛОЖЕНИЕ
                            о Департаменте информации и массовых коммуникаций при Министерстве культуры, информации и туризма Кыргызской Республики
                        </strong>
                        <p>
                            (В редакции постановлений Правительства КР от 7 декабря 2015 года № 834, 4 января 2018 года № 1)

                            1. Общие положения

                            1. Департамент информации и массовых коммуникаций при Министерстве культуры, информации и туризма Кыргызской Республики (далее - Департамент) является подведомственным подразделением Министерства культуры, информации и туризма Кыргызской Республики (далее - Министерство).

                            2. Департамент в своей деятельности руководствуется Конституцией Кыргызской Республики, законами Кыргызской Республики, принимаемых в соответствии с ними иными нормативными правовыми актами Кыргызской Республики, международными договорами, вступившими в установленном законом порядке в силу, участницей которых является Кыргызская Республика, а также настоящим Положением.

                            3. Наименование Департамента:

                            - на кыргызском языке: "Кыргыз Республикасынын маданият, маалымат жана туризм министрлигинин алдындагы Маалымат жана массалык коммуникациялар Департаменти";

                            - на русском языке: "Департамент информации и массовых коммуникаций при Министерстве культуры, информации и туризма Кыргызской Республики".

                            4. Организационно-правовая форма Департамента - государственное учреждение.

                            5. Финансирование деятельности Департамента и его подведомственных учреждений и организаций осуществляется за счет средств республиканского бюджета и других источников, не противоречащих законодательству Кыргызской Республики.

                            6. Департамент является юридическим лицом, имеет печать с изображением Государственного герба Кыргызской Республики, со своим наименованием на государственном и официальном языках, самостоятельный баланс, расчетный и иные счета в системе Казначейства.

                            7. Юридический адрес Департамента: 720040, Кыргызская Республика, город Бишкек, ул.А.Пушкина, 78.

                            2. Цель, основные задачи и функции Департамента

                            8. Целью деятельности Департамента является развитие информационной сферы Кыргызской Республики.

                            9. Основными задачами Департамента являются:

                            - создание благоприятных условий для развития средств массовой информации, предприятий полиграфии и распространения печатной продукции;

                            - обеспечение условий для производства национального аудиовизуального продукта, формирование социального пакета телеканалов.

                            10. Департамент осуществляет следующие функции:

                            - участвует в реализации Программы перехода на цифровое вещание в Кыргызской Республике;

                            - осуществляет процедуру выдачи, переоформления, отказа, приостановления, прекращения, аннулирования и возобновления разрешения на размещение телерадиоканала в аналоговом вещании и (или) цифровом пакете вещания, независимо от применяемых технологий;

                            - осуществляет лицензионный контроль за соблюдением телерадиоорганизациями и операторами телерадиовещания требований законодательства Кыргызской Республики в сферах лицензионно-разрешительной системы, средств массовой информации, телевидения и радиовещания;

                            - формирует и ведет реестр разрешений на размещение телеканала в аналоговом вещании и (или) цифровом пакете вещания независимо от применяемых технологий;

                            - обеспечивает исполнение международных обязательств Кыргызской Республики в части, касающейся вопросов информационной сферы;

                            - осуществляет ведение государственного реестра действующих средств массовой информации и электронных коммуникаций;

                            - осуществляет мониторинг и анализ ситуации в области средств массовой информации, распространения периодических печатных изданий, а также электронных носителей информации;

                            - способствует укреплению материально-технической базы средств массовой информации, в том числе государственных, улучшению распространения печатной продукции;

                            - осуществляет координацию в формировании пакета обязательных к распространению на территории страны телевизионных и радиопрограмм;

                            - координирует и осуществляет контроль деятельности подведомственных учреждений и организаций, находящихся в ведении Департамента;

                            - вносит предложения по формированию бюджета Министерства, в части расходов на соответствующий финансовый год;

                            - содействует в организации конгрессов, конференций, семинаров и других мероприятий в установленной сфере деятельности;

                            - привлекает на долгосрочной основе для решения вопросов, относящихся к задачам Департамента, организации и специалистов для консультаций, подготовки проектов документов, проведения аналитических, экспертных и других видов работ, в порядке, установленном законодательством Кыргызской Республики.

                            (В редакции постановления Правительства КР от 4 января 2018 года № 1)

                            3. Права Департамента

                            11. Департамент для решения стоящих перед ним задач вправе:

                            - самостоятельно решать организационные, творческо-производственные, хозяйственно-финансовые вопросы;

                            - в установленном порядке привлекать средства международных организаций, грантов для проведения мероприятий в сфере деятельности, отнесенной к задачам Департамента;

                            - определять объемы затрат на производимую продукцию, работы и услуги;

                            - представлять в органах государственного управления свои интересы и интересы входящих в Департамент подведомственных учреждений и организаций;

                            - запрашивать и получать от государственных органов, иных учреждений и граждан информацию по вопросам, отнесенным к компетенции Департамента;

                            - пользоваться по взаимному согласованию и в установленном порядке информационными базами и базами данных министерств, государственного комитета, административных ведомств, других государственных органов, государственных предприятий, учреждений и организаций;

                            - использовать государственные, а также специальные системы связи и коммуникации;

                            - вносить в Министерство предложения по вопросам создания, реорганизации, ликвидации подведомственных учреждений и организаций;

                            - получать в соответствии с законодательством Кыргызской Республики бесплатно контрольные экземпляры периодических печатных изданий;

                            - осуществлять в пределах своей компетенции руководство деятельностью подведомственных учреждений и организаций;

                            - проводить совещания, формировать рабочие группы и комиссии по вопросам, связанным с решением возложенных на Департамент задач;

                            - привлекать в установленном порядке для решения вопросов, отнесенных к компетенции Департамента, научные и иные организации, ученых и специалистов, с согласия других руководителей структурных подразделений Министерства, работников этих подразделений;

                            - создавать координационные и совещательные органы (советы, комиссии, группы) в установленной сфере деятельности, участвовать в работе координационных и совещательных органов, в том числе межведомственных, а также в совещаниях, конференциях, семинарах и иных мероприятиях, в том числе совместно с представителями структурных подразделений Аппарата Правительства Кыргызской Республики и иных организаций, учреждений;

                            - утверждать все виды смет расходов, осуществляемых за счет средств республиканского бюджета, подведомственных учреждений и организаций;

                            - готовить рекомендации по совершенствованию инновационной, научно-технической и образовательной политики в области средств массовой информации, телерадиовещания, издательской и полиграфической деятельности;

                            - направлять финансовые средства на развитие и материальное поощрение, а также социальную поддержку работников Департамента и подведомственных учреждений и организаций за счет специальных средств;

                            - сотрудничать в установленном законодательством порядке с другими юридическими и физическими лицами, организациями, предприятиями.

                            4. Организация работы Департамента

                            12. Министерство координирует и контролирует деятельность Департамента.

                            13. Департамент представляет отчет о своей деятельности в Министерство.

                            14. Общее руководство деятельностью Департамента осуществляет директор, назначаемый на должность и освобождаемый от должности Премьер-министром Кыргызской Республики по представлению министра культуры, информации и туризма Кыргызской Республики.

                            Директор Департамента является членом коллегии Министерства культуры, информации и туризма по должности.

                            15. Директор Департамента:

                            - осуществляет на основе единоначалия общее руководство деятельностью Департамента;

                            - несет персональную ответственность за выполнение задач и функций, возложенных на Департамент;

                            - организует и обеспечивает выполнение решений и поручений Министерства;

                            - в пределах своей компетенции издает приказы, обязательные для исполнения всеми работниками Департамента и подведомственных учреждений;

                            - утверждает положения о структурных подразделениях, а также должностные инструкции работников Департамента;

                            - утверждает штатные расписания и сметы расходов подведомственных учреждений Департамента и осуществляет контроль за их исполнением;

                            - назначает и освобождает от должности работников центрального аппарата и руководителей подведомственных учреждений и организаций Департамента, за исключением должностей, входящих в номенклатуру должностей министра;

                            - утверждает уставы (положения) и структуры подведомственных учреждений согласно схеме управления;

                            - обеспечивает меры по охране труда и соблюдению прав работников в соответствии с законодательством Кыргызской Республики;

                            - утверждает график трудовых отпусков, заключает трудовые договоры, применяет к работникам меры поощрения и дисциплинарного взыскания;

                            - отменяет приказы и инструкции подведомственных учреждений и организаций, противоречащие законодательству Кыргызской Республики;

                            - представляет интересы Департамента на всех уровнях в соответствии с законодательством Кыргызской Республики и настоящим Положением;

                            - в пределах своей компетенции заключает договоры и соглашения от имени Департамента без оформления доверенности;

                            - проводит работу по подготовке, переподготовке и повышению квалификации творческих и технических сотрудников средств массовой информации;

                            - осуществляет контроль за ведением делопроизводства в Департаменте в соответствии с Регламентом Правительства Кыргызской Республики и утвержденной Министерством Инструкцией по документационному обеспечению;

                            - организует планирование и контроль деятельности Департамента, его эффективное взаимодействие с другими структурными подразделениями Министерства;

                            - представляет в установленном порядке особо отличившихся работников Департамента к ведомственным наградам;

                            - распоряжается в пределах, установленных законодательством Кыргызской Республики, имуществом и средствами Департамента;

                            - осуществляет иные полномочия в соответствии с законодательством Кыргызской Республики, необходимые для достижения целей и задач Департамента.

                            (В редакции постановления Правительства КР от 7 декабря 2015 года № 834)

                            16. В Департаменте предусмотрена должность заместителя директора, который назначается на должность и освобождается от должности министром культуры, информации и туризма Кыргызской Республики в соответствии с законодательством о государственной гражданской службе и муниципальной службе.

                            В отсутствие директора заместитель директора исполняет его должностные обязанности.

                            (В редакции постановления Правительства КР от 4 января 2018 года № 1)

                            5. Имущество Департамента

                            17. Департамент в отношении закрепленного за ним имуществом осуществляет право владения, пользования и распоряжения в пределах, установленных законодательством Кыргызской Республики.

                            18. Источниками формирования средств Департамента являются:

                            - республиканский бюджет Кыргызской Республики;

                            - другие источники;

                            - доходы, полученные от реализации продукции, работ и услуг, а также от других видов деятельности учреждений Департамента, не противоречащих законодательству Кыргызской Республики;

                            - безвозмездные и благотворительные взносы предприятий, организаций, граждан, в том числе иностранных государств;

                            - иные источники, не запрещенные законодательством Кыргызской Республики.

                            6. Заключительные положения

                            19. Реорганизация и прекращение деятельности Департамента осуществляется в соответствии с законодательством Кыргызской Республики. При реорганизации все имущественные права и обязанности Департамента переходят к правопреемнику.

                            20. При прекращении деятельности Департамента документы, возникшие в ходе его деятельности, хранятся и используются в соответствии с Законом Кыргызской Республики "О Национальном архивном фонде Кыргызской Республики".
                        </p>
                    </div>

                    <div class="tab-pane fade" id="list-dosug" role="tabpanel" aria-labelledby="list-dosug-list">
                        <br />
                        <a href="~/docs/PolojenieONasKultSentre.pdf" target="_blank">
                            ПОЛОЖЕНИЕ   о Национальном культурном центре при Министерстве культуры и информации КР
                        </a>
                        <br />
                        <br />
                        <strong>
                            ПОЛОЖЕНИЕ

                            о Национальном культурном центре при Министерстве культуры и информации   КР
                        </strong>
                        <p>
                            1. Общие положения

                            1. Национальный культурный центр при Министерстве культуры,
                            информации и труизма Кыргызской Республики (далее - НКЦ) является
                            подведомственым учреждением Министертсва культуры, информации и туризма
                            Кыргызской Республики (далее - Министерство).
                            2. НКЦ является единым историко-культурным комплексом и создан на базе
                            зданий бывшего Дворца пионеров, исторического дома старосты города
                            ПишпекН.Терентьева, двухэтажного здания Республиканского центра детей и
                            юношества &quot;Сейтек&quot;, расположенных по адресу: улица Ю.Абдрахманова, 230, и
                            Кыргызского государственного театра кукол имени М.Жангазиева,
                            3. НКЦ в своей деятельности руководствуется Конституцией Кыргызской
                            Республики, законами Кыргызской Республики &quot;О культуре&quot;, &quot;Об охране и
                            использовании историко-культурного наследия&quot;, Положением о Министерстве культуры
                            и информации Кыргызской Республики, иными нормативными и правовыми актами
                            Кыргызской Республики, а также настоящим Положением.
                            4. НКЦ является юридическим лицом, имеет самостоятельный баланс,
                            расчетные счета в системе Казначейства и закрепленное за ним имущество. НКЦ имеет
                            печать, штамп и фирменный бланк.
                            5. НКЦ по своей организационно-правовой форме является государственным
                            учреждением.
                            6. Полное наименование:
                            на государственном языке - КыргызРеспубликасынынМаданият, маалыматжана туризм

                            министрлигининалдындагыУлуттукмаданийборбор.

                            На официальном языке - Национальный культурный центр при Министерстве
                            культуры, информации и труизма Кыргызской Республики.
                            7. Адрес НКЦ: город Бишкек, ул.Ю.Абдрахманова, 230.

                            2. Цель НКЦ

                            8. Целью деятельности НКЦ является сохранение, изучение и пропаганда
                            историко-культурного наследия.

                            3. Задачи НКЦ

                            4. Задачами НКЦ являются:
                            - сохранение Национального культурного центра как единого историко-
                            культурного комплекса;
                            - содействие в сохранении, изучении и пропаганде историко-культурного
                            наследия;
                            - содействие в развитии и пропаганде культуры и искусства.
                            &#39; 4. Функции НКЦ

                            10. В соответствии с возложенными задачами НКЦ осуществляет следующие
                            функции:
                            - подготовка и проведение государственных мероприятий республиканского и
                            международного значения, национальных проектов в сфере историко-культурного
                            наследия, конференций и&#39;конкурсов, юбилейных мероприятий, государственных и
                            общенациональных праздников;
                            - оказание содействия государственным органам, органам местного
                            самоуправления, общественным организациям в подготовке и проведении мероприятий
                            национального и государственного значения;
                            - реализация государственных программ в области развития культуры и народного
                            творчества;
                            - оказание методической и практической помощи клубным учреждениям (Дворцы
                            культуры, Дома культуры, сельские клубы) и учебным заведениям культуры и
                            искусства;
                            - координация деятельности самодеятельных коллективов, народных театров и
                            организация фестивалей, смотр-конкурсов, театрализованных представлений,
                            выступления художественных и самодеятельных коллективов, поощряющие различные
                            формы творческого самовыражения;
                            - реализация проекты, направленные на сохранение и развитие историко-
                            культурного наследия;
                            - осуществление издательской деятельности;
                            - - разработка учебных панов и программ по специальным музыкальным
                            теоретическим дисциплинам;
                            - подготовка и выпуск учебных пособий, записи игр на различных музыкальных
                            инструментах и по теоретическим дисциплинам;
                            - привлечение внешних и внутренних инвестиций, грантов, финансовых,
                            технических и иных ресурсов, связанных с организацией и проведением
                            государственных, национальных и иных мероприятий;
                            - осуществление координации и контроля концертных программ, проводимых в
                            государственных учреждениях культуры и искусства согласно решениям
                            художественно-экспертной комиссии;
                            - ведение статистики учреждений культуры и искусства, подготовка сведений по
                            статистической отчетности учреждений культуры и искусства;

                            5. Права НКЦ

                            11. НКЦ имеет право:
                            - сотрудничать в установленном законодательством порядке с другими
                            юридическими и физическими лицами;
                            осуществлять в установленном порядке издательскую деятельность, изготавливать
                            художественно-графические и фотоработы, создавать информационные, художественно-
                            развлекательные, музыкальные
                            фонограммы, реализовывать творческую и полиграфическую продукцию;
                            - организовывать &#39;выставки-продажи художественных работ, декоративно-
                            прикладного искусства, музыкальных инструментов, изделий мастеров народных
                            художественных промыслов;

                            - создавать художественные и самодеятельные коллективы, студии, открывать
                            творческие лаборатории, мастерские, салоны, галереи, магазины и другие структуры;
                            - производить в установленном порядке наличные и безналичные расчеты с
                            другими юридическими и физическими лицами независимо от их организационно-
                            правовых форм собственности;
                            - осуществлять взаимодействия с государственными органами по подготовке и
                            проведению особо значимых государственных мероприятий, утвержденных
                            нормативными правовыми документами Кыргызской Республики;
                            - направлять сотрудников НКЦ в служебные командировки, в том числе на
                            международные конференции, семинары и выставки;
                            - запрашивать необходимую информацию у государственных органов,
                            юридических и физических лиц;
                            - осуществлять иную деятельность, не противоречащую законодательству
                            Кыргызской Республики.

                            6. Организация деятельности НКЦ

                            12. Деятельность НКЦ координирует Министерство культуры, информации и
                            туризмаКыргызской Республики.
                            13. Руководство НКЦ осуществляет генеральный директор, назначаемый на
                            должность и освобождаемый от должности министром культуры,
                            информации и туризма Кыргызской Республики.
                            Генеральный директор:
                            - осуществляет общее руководство хозяйственной, творческо-
                            производственной, финансовой деятельностью НКЦ;
                            - несет персональную ответственность за деятельность НКЦ;
                            - вносит рекомендации местным органам власти, территориальным
                            подразделениям государственных органов по вопросам подготовки и проведения
                            государственных и национальных мероприятий;
                            - действует на принципах единоначалия по вопросам, отнесенным к его
                            компетенции;
                            - представляет интересы НКЦ в органах государственной власти, перед
                            юридическими и физическими лицами;
                            - наделяется правом первой подписи на всех финансово-хозяйственных
                            документах;
                            - издает приказы, утверждает необходимые инструкции внутри НКЦ в
                            соответствии с законодательством Кыргызской Республики;
                            - обеспечивает соблюдение финансовой дисциплины и представляет в
                            установленном порядке отчеты о* финансовой и хозяйственной деятельности.

                            7. Имущество НКЦ

                            15. НКЦ в отношении закрепленного за ним имущества осуществляет право
                            пользования в пределах, установленных законодательством Кыргызской Республики .
                            16. Источники формирования средств НКЦ являются:
                            - республиканский бюджет Кыргызской Республики;
                            - безвозмездные и благотворительные взносы предприятий, организаций,

                            граждан, в том числе иностранных;
                            - иные источники, не запрещенные законодательством Кыргызской Республики.

                            8. Ликвидация или реорганизация НКЦ

                            17. Реорганизация и ликвидация НКЦ производится в порядке, предусмотренном
                            законодательством Кыргызской Республики.
                            18. Документы НКЦ сохраняются в соответствии с Законом Кыргызской
                            Республики &quot;О национальном архивном фонде Кыргызской Республики&quot;.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-1"></div>
        </div>

    </div>

