
@{
    ViewData["Title"] = "Dostoyanie2";
}
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="~/css/gallery-clean.css">

<br />
<div class="row">
    <div class="col-sm-6 col-md-3">
    </div>
    <div class="col-sm-6 col-md-6">
        <h2 class="text-center">@ViewBag.Theme</h2>
    </div>
    <div class="col-sm-6 col-md-3">
    </div>
</div>

<div class="container gallery-container" style="display:normal;">
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <a class="lightbox" href="~/images/dostoyanie2/Aitysh.jpg">
                        <img class="img-thumbnail" src="~/images//dostoyanie2/Aitysh.jpg" style="width:200px; height:250px;" alt="Park" data-toggle="tooltip" data-placement="top"
                             title="
                             Искусство импровизации «Айтыш. Айтыс» включено в репрезентативный список ЮНЕСКО.
                             Номинация «Айтыш. Айтыс» была представлена Кыргызстаном совместно с Казахстаном.
                             Айтыш ( Айтыс по-казахски) – это соревнование двух людей в искусстве поэтической импровизации в форме чтения или пения под аккомпанемент традиционных музыкальных инструментов, к примеру, комуза или домбры. Темы выбирают слушатели, а побеждает участник соревнования, продемонстрировавший наибольшую музыкальность, чувство ритма, оригинальность и остроумие.">
                    </a>
                    <div class="caption">
                        <h3>Искусство импровизации «Айтыш»</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <a class="lightbox" href="~/images/dostoyanie2/AkKalpak.jpg">
                        <img class="img-thumbnail" src="~/images/dostoyanie2/AkKalpak.jpg" style="width:200px; height:250px;" alt="Park" data-toggle="tooltip" data-placement="top"
                             title="Ак-калпак — это традиционный мужской головной убор из белого фетра,
                который имеет глубокое сакральное значение. А мастерство его
                изготовления — постоянно развивающийся набор знаний и навыков
                в области валяния, кройки и шитья, а также вышивания узорами. Можно
                выделить более 80 видов ак-калпака, украшенных различными узорами,
                несущими сакральный смысл и историю. Мастерство ак-калпак, традиционные знания и навыки в изготовлении
                и ношении кыргызского мужского головного убора, включено
                в репрезентативный список нематериального культурного наследия
                человечества.">
                    </a>
                    <div class="caption">
                        <h3>Ак-калпак</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <a class="lightbox" href="~/images/dostoyanie2/Shydak.jpg">
                        <img class="img-thumbnail" src="~/images/dostoyanie2/Shydak.jpg" style="width:200px; height:250px;" alt="Park" data-toggle="tooltip" data-placement="top"
                             title="Кыргызские традиционные войлочные ковры ала кийиз и шырдак включены в список нематериального культурного наследия ЮНЕСКО.
                Традиционные войлочные ковры являются одним из главных видов
                прикладного искусства кыргызского народа и неотъемлемой частью его
                культурного наследия. Знания, навыки, разнообразие, семантика орнамента и
                церемония создания ковров являются важными культурными компонентами.
                Ала-кийиз — войлочные ковры с уникальными узорами, которые меняются
                от одного региона Кыргызстана к другому. Пестрый войлок или ала-кийиз
                изготавливается техникой вваливания. Он проще в изготовлении. Его больше
                используют как вещь для повседневного пользования, нежели как предмет
                декора.
                Шырдак является национальным кыргызским ковром из войлока, орнамент
                которого выполнен по мозаичной технике. Название происходит от слова
                шырык, что означает стегание – один из основных процессов в создании
                этого ковра, который делает его прочным и долговечным.">
                    </a>
                    <div class="caption">
                        <h3>Ала- кийиз и Шырдак</h3>

                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3" style="text-align:center">
                <div class="thumbnail">
                    <a class="lightbox" href="~/images/dostoyanie2/SyleimanToo.jpg">
                        <img class="img-thumbnail" src="~/images/dostoyanie2/SyleimanToo.jpg" style="width:200px; height:250px;" alt="Park" data-toggle="tooltip" data-placement="top"
                             title="  Сулайман- Тоо это священная гора в городе Ош на юге республики Кыргызской Республики, которая в июне 2009 года стала первым в стране памятником Всемирного наследия
                Сулайман-Тоо богат историко-археологическими памятниками расположен в центре города Ош. По форме гора представляет собой пятиглавый известковый останец длиной более 1140 м. и шириной 560 м, по подошве, вытянутый с запада на восток.
                Национальный Историко-археологический музейный комплекс «Сулайман-Тоо» один из крупнейших музеев в Кыргызстане. В музее хранятся ценные исторические и культурные памятники, которые являются национальной гордостью кыргызского народа.
          ">
                    </a>
                    <div class="caption">
                        <h3>Сулайман- Тоо</h3>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        //$('[data-toggle="tooltip"]').on('inserted.bs.tooltip', function () {
        //    var thisClass = $(this).attr("class");
        //    $('.tooltip-inner').addClass(thisClass);
        //    $('.arrow').addClass(thisClass + "-arrow");
        //});

        $('[data-toggle="tooltip"]').hover(function () {
            $('.tooltip-inner').css('min-width', '400px');
            $('.tooltip-inner').css('color', 'white');
            $('.tooltip-inner').css('background-color', '#1c7de0');

        });
    </script>
}


@*<div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a class="lightbox" href="~/images/dostoyanie2/Aitysh.jpg">
                    <img class="img-thumbnail" src="~/images/dostoyanie2/Aitysh.jpg" style="width:250px; height:250px;" alt="Park">
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Искусство импровизации «Айтыш»</h3>
            <p>
                Искусство импровизации «Айтыш. Айтыс» включено в репрезентативный
                список ЮНЕСКО.
            </p>
            <p>
                Номинация «Айтыш. Айтыс» была представлена Кыргызстаном
                совместно с Казахстаном.
            </p>
            <p>
                Айтыш ( Айтыс по-казахски) – это соревнование двух людей в искусстве
                поэтической импровизации в форме чтения или пения под аккомпанемент
                традиционных музыкальных инструментов, к примеру, комуза или домбры.
                Темы выбирают слушатели, а побеждает участник соревнования,
                продемонстрировавший наибольшую музыкальность, чувство ритма,
                оригинальность и остроумие.
            </p>
        </div>
        <br />
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a class="lightbox" href="~/images/dostoyanie2/AkKalpak.jpg">
                    <img class="img-thumbnail" src="~/images/dostoyanie2/AkKalpak.jpg" style="width:250px; height:250px;" alt="Park">
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Ак-калпак</h3>
            <p>
                Ак-калпак — это традиционный мужской головной убор из белого фетра,
                который имеет глубокое сакральное значение. А мастерство его
                изготовления — постоянно развивающийся набор знаний и навыков
                в области валяния, кройки и шитья, а также вышивания узорами. Можно
                выделить более 80 видов ак-калпака, украшенных различными узорами,
                несущими сакральный смысл и историю.
            </p>
            <p>
                Мастерство ак-калпак, традиционные знания и навыки в изготовлении
                и ношении кыргызского мужского головного убора, включено
                в репрезентативный список нематериального культурного наследия
                человечества.
            </p>
        </div>
        <br />
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a class="lightbox" href="~/images/dostoyanie2/Shydak.jpg">
                    <img class="img-thumbnail" src="~/images/dostoyanie2/Shydak.jpg" style="width:250px; height:250px;" alt="Park">
                </a>

            </div>
        </div>
        <div class="col-md-8">
            <h3>Ала- кийиз и Шырдак</h3>
            <p>
                Кыргызские традиционные войлочные ковры ала кийиз и шырдак включены
                в список нематериального культурного наследия ЮНЕСКО.
            </p>
            <p>
                Традиционные войлочные ковры являются одним из главных видов
                прикладного искусства кыргызского народа и неотъемлемой частью его
                культурного наследия. Знания, навыки, разнообразие, семантика орнамента и
                церемония создания ковров являются важными культурными компонентами.
            </p>
            <p>
                Ала-кийиз — войлочные ковры с уникальными узорами, которые меняются
                от одного региона Кыргызстана к другому. Пестрый войлок или ала-кийиз
                изготавливается техникой вваливания. Он проще в изготовлении. Его больше
                используют как вещь для повседневного пользования, нежели как предмет
                декора.
            </p>
            <p>
                Шырдак является национальным кыргызским ковром из войлока, орнамент
                которого выполнен по мозаичной технике. Название происходит от слова
                шырык, что означает стегание – один из основных процессов в создании
                этого ковра, который делает его прочным и долговечным.
            </p>
        </div>
        <br />
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a class="lightbox" href="~/images/dostoyanie2/SyleimanToo.jpg">
                    <img class="img-thumbnail" src="~/images/dostoyanie2/SyleimanToo.jpg" style="width:250px; height:250px;" alt="Park">
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Сулайман- Тоо</h3>
            <p>
                Сулайман- Тоо это священная гора в городе Ош на юге республики Кыргызской Республики, которая в июне 2009 года стала первым в стране памятником Всемирного наследия
            </p>
            <p>
                Сулайман-Тоо богат историко-археологическими памятниками расположен в центре города Ош. По форме гора представляет собой пятиглавый известковый останец длиной более 1140 м. и шириной 560 м, по подошве, вытянутый с запада на восток.
            </p>
            <p>
                Национальный Историко-археологический музейный комплекс «Сулайман-Тоо» один из крупнейших музеев в Кыргызстане. В музее хранятся ценные исторические и культурные памятники, которые являются национальной гордостью кыргызского народа.
            </p>

        </div>

    </div>*@


<br />
<br />

