
@{
    ViewData["Title"] = "Dostoyanie2";
}

<script src="~/js/modernizr.js"></script> <!-- Modernizr -->
<link rel="stylesheet" href="~/css/style.css" />

<br />
<div class="row">
    <div class="col-sm-6 col-md-3">
    </div>
    <div class="col-sm-6 col-md-6">
        <h2 class="text-center">@ViewBag.Theme</h2>
    </div>
    <div class="col-sm-6 col-md-3">
    </div>
</div>

<div class="container gallery-container" style="display:normal;">
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/Ала тоо.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#myModal" />
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/Башня Буранаф.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#Burana" />
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/Дунганская мечетьф.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#Dungan" />
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/гумбез манасф.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#Manas" />
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/Манжалы-Атаф.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#Manjaly" />
                </div>
            </div>


            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/Свято-Троицкая православная церковьф.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#Troisa" />
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/Таш рабатф.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#TashRabat" />
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/Узенский минарет.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#Minaret" />
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <img class="img-thumbnail" src="~/images/dostoyanie3/Шах фазиль.jpg" style="width:200px; height:200px; cursor:pointer" data-toggle="modal" data-target="#Shah" />
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="text-align:center">
                    <a href="#Ordo" data-toggle="modal">
                        <img class="img-thumbnail" src="~/images/dostoyanie3/Рух ордо1.jpg" style="width:200px; height:200px; cursor:pointer" />
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">

    <div class="modal" id="Ordo" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Рух Ордо</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Рух ордо1.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            Рух Ордо» - это единственный в своем роде музей под открытым небом на
                            побережье озера Иссык-Куль в г. Чолпон-Ата.
                            Комплекс включает в себя 10 мини музеев, в том числе: «Дом-музей
                            Ч.Айтматова», «Зал кыргызского искусства и культуры», картинную и фото
                            галереи, «Беседку Саякбая Каралаева», «Сокровищницу Знаний» и пять
                            часовен, каждая из которых представляет одну из мировых конфессий, а
                            именно: ислам, католицизм, православие, буддизм и иудаизм, как символ
                            того, что Бог един для всех.ный камень, а также мавзолей Сафед-
                            Булан, датируемый XIX веком.
                        </div>
                    </div>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="Shah" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Мавзолей Шах-Фазиль</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Шах фазиль.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            Мавзолей Шах-Фазиль — это уникальный памятник среднеазиатского
                            зодчества, относящийся к эпохе Караханидов, т.е X-XII векам нашей эры.
                            Мавзолей находится в селе Гулистан, близ города Кербен в Джалал-
                            Абадской области Кыргызстана. Входит в список культурного наследия
                            ЮНЕСКО.
                            Шах-Фазиль — это целый этно-культурный комплекс, включающий в себя
                            множество достопримечательностей. Помимо самого мавзолея Шах-Фазиль в
                            комплекс входит священная гора Арча-Мазар, мавзолей Аламбердара,
                            пещера святого отшельника, место казни 2700 мусульманских воинов, мечеть
                            XVII века, вертикально установленный камень, а также мавзолей Сафед-
                            Булан, датируемый XIX веком.
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="Minaret" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Узгенский минарет</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Узенский минарет.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            Узгенский историко-культурный и архитектурно-археологический комплекс
                            Узгенский комплекс  состоит из красивейшего минарета, стоящего
                            обособленно, и группы мавзолеев, выстроенных в одну линию и
                            находящихся на расстоянии приблизительно 100 метров от минарета. Эти
                            выдающиеся памятники истории являются неоценимым подарком нынешним
                            поколениям, оставленным нам самой Историей со времен Великой
                            Караханидской империи (10-12 века).  Эти сооружения – уникальные
                            шедевры монументального зодчества народов Центральной Азии в средние
                            века.
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="TashRabat" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Таш-Рабат</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Таш рабатф.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            Таш-Рабат -караван-сарай на территории  Ат-Башинского района ,  Нарынская
                            область , Кыргызстан, недалеко от границы с Китаем. Сооружение
                            расположено на берегу извилистой речки Таш-Рабат, притока реки Кара-
                            Коюн, на высоте более 3500 м над уровнем моря.
                            Таш-Рабат был построен в XV веке на месте более древнего монастыря IX-X
                            веков. Существует две версии его основания: первая — крепость была
                            основана ханом который хотел защитить торговые караваны от разбойников,
                            и при этом внести вклад в развитие страны. Вторая — он был основан
                            местным богачом, но стройка этого замка не закончилась по неизвестными
                            причинами.
                            Со временем в Центральной Азии окончательно закрепился Ислам,
                            монастырь начал приходить в упадок. Однако близость к Шёлковому пути не
                            дала храму превратиться в пустыню. Он использовался как караван-сарай.
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="Troisa" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Свято-Троицкая православная церковь</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Свято-Троицкая православная церковьфф.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            В центре города Каракол - расположен красивейший памятник архитектуры -
                            Свято-Троицкая православная церковь. Дата создания и становления храма
                            уходит во времена основания самого города Каракол дальновидным и
                            прагматичным путешественником, основателем города А.В.Кульбарсом. Он
                            был инициатором возведения временного храма из войлока, материала из
                            которого сооружались и строились практически все постройки того времени.
                            Уже в следующем году войлочные стены храма были заменены на
                            деревянные, а еще позже их сменили на кирпичные. В 1887 году сильное
                            землетрясение разрушило храм до основания. Вновь из царской казны были
                            выделены средства на строительство нового храма. Он был возведен из
                            дерева за неполных два года и освещен в 1895 году.
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="Manjaly" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Манжалы-Ата</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Манжалы-Атаф.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            На южном берегу Иссык-Куля в километре выше Тонского залива между
                            населенными пунктами Бокомбаево и  Каджи-Сай  расположено святое место
                            &quot;Манжалы-Ата&quot;. Известность Манжылы-Ата приобрело еще в конце 17 века,
                            в эпосе «Манас» есть упоминание как о священном для кыргызского народа.
                            Еще при союзе не смотря на запреты люди приходили поклониться могилам
                            предков в скалистую пустыню, чтобы получить исцеление расположенных в
                            долине родников, наполненных чудодейственной влагой.
                            Долина представляет собой целый лабиринт неглубоких ущелий между
                            глинистыми степными холмами, из которых бьёт множество родников.
                            Каждый родник считается целебным. В ущелье Манжылы растут 8
                            священных ив, у основания которых расположены 12 основных и 5
                            дополнительных целебных источников.
                        </div>
                    </div>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="Manas" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Гумбез Манаса</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/гумбез манасф.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            Гумбез Манаса (кырг. Манастын гумбёзу – мавзолей Манаса) является
                            уникальным архитектурно-историческим памятником на территории
                            Кыргызстана и одним из мест паломничества не только иностранных
                            туристов, но и всех жителей республики, так как имя Манас баатыра для
                            любого кыргыза настолько свят и дорог, что об этом можно написать
                            отдельную книгу.
                            Гумбез Манас батыра находится в Таласской области, в 13 километрах
                            северо-восточнее областного центра города Талас, рядом с селением Таш-
                            Арык. Данный мавзолей является основным, центральным
                            звеном Национального культурно-исторического комплекса «Манас-Ордо».
                        </div>
                    </div>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="Dungan" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Дунганская мечеть</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Дунганская мечетьф.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            Дунганская мечеть построена в 1910-1912 гг. Это своебразное архитектурное
                            произведение было создано лучшими мастерами во главе с зодчим Чжоу-Сы,
                            которых хаджи Ибрагим специально пригласил из Пекина. При
                            строительстве мечети иностранным мастерам помагали местные жители.
                            Одноэтажное деревянное здание сооружено без единого гвоздя. Углы крыши
                            украшены фигурами дракона, а стены - изображениями растений, которые,
                            согласно поверьям, должны принести изобилие, и мифологических животных
                            - оберег от злых духов.
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="Burana" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Башня Бурана</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Башня Буранаф.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            Башня Бурана находится вблизи г. Токмок на территории средневекового
                            города Баласагун (IX-XIV в.), столицы Караханидского каганата и родины
                            известного поэта средневековья Юсуфа Баласагуни, автора поэмы
                            “Благодатное знание&quot;. Башня была построена в первой половине XI в.
                            качестве минарета мечети. Мечеть со времен была полностью разрушена, а
                            минарет был частично разрушен землетрясением в XV веке: сегодня высота
                            башни составляет около 25 м, хотя первоначальная ее высота достигала 45 м.
                            На базе легендарного Баласагуна создан археолого-архитектурный музей под
                            открытым небом.
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="myModal" data-easein="swoopIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Площадь Ала-Тоо</h4>
                    <button type="button" class="close bg-primary" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="~/images/dostoyanie3/Ала тоо.jpg" style="width:200px; height:200px;" />
                        </div>
                        <div class="col-md-8">
                            Площадь Ала-Тоо - главная площадь Кыргызстана, расположенная в центре Бишкека.
                            Название Ала-Тоо переводится с кыргызского как «пестрые горы», и относится к одноименной
                            горной цепи, где горы имеют «пегую» окраску: частично белые из-за снега, частично тёмные
                            на бесснежных участках. Ала-Тоо - популярное место для проведения фестивалей, торжеств
                            и праздников. Центр Ала-Тоо также украшает флагшток, который традиционно украшает
                            центр многих городов. Размер площади довольно внушительный – 130 на 300 м, на севере
                            площадь пересекает Чуйский проспект, а юг ограничен Киевской улицей. Площадь была
                            создана к 60-летней годовщине формирования республики, в середине 80-х гг. уже прошлого
                            столетия."
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal">X</button>*@
                </div>
            </div>
        </div>
    </div>

</div>








@section Scripts {

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>*@

    @*<script src="js/jquery-2.1.1.js"></script>*@



    <script>
        //baguetteBox.run('.tz-gallery');
        //$(function () {
        //    $('[data-toggle="tooltip"]').tooltip()
        //})
        //$('[data-toggle="tooltip"]').on('inserted.bs.tooltip', function () {
        //    var thisClass = $(this).attr("class");
        //    $('.tooltip-inner').addClass(thisClass);
        //    $('.arrow').addClass(thisClass + "-arrow");
        //});

        $('[data-toggle="tooltip"]').hover(function () {
            $('.tooltip-inner').css('min-width', '400px');
            $('.tooltip-inner').css('color', 'white');
            $('.tooltip-inner').css('background-color', '#1c7de0');

        });
    </script>

    <script src="~/js/main.js"></script>
}

