
@{
    ViewData["Title"] = "Достояние";
}
<br />
<table class="table">
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="Dostoyanie1">
                <h4>
                    Народные артисты Киргизской ССР
                </h4>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="Dostoyanie2">
                <h4>
                    Список всемирного наследия ЮНЕСКО
                </h4>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="Dostoyanie3">
                <h4>
                    Памятники истории/культуры                    
                </h4>
            </a>
        </td>
    </tr>
</table>
