
@{
    ViewData["Title"] = "Education";
}

<div class="container">
    <br><br>

    <div class="row">
        <div class="col text-center">
            <h3>Информация по профессиональному образованию в сфере культуры и искусства</h3>
        </div>
    </div>
    <br><br>

        <div class="card-deck  text-center">

            <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                <div class="card-img-overlay">
                    <h6 class="card-title">
                        Кыргыз Республикасынын Маданият, маалымат жана туризм
                        министрлигинин окуу жайлары боюнча маалыматы
                    </h6>
                    <h6 class="card-subtitle mb-2"> Об охране и использовании историко-культурного наследия</h6>
                    <p class="card-text text-center">
                        <a href="~/docs/Educations/maalymat.pdf" target="_blank">
                            <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                        </a>
                    </p>
                </div>
            </div>

            <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                <div class="card-img-overlay">
                    <h6 class="card-title">
                        Перечень международных договоров по линии МКИТ КР
                    </h6>
                    <p class="card-text">
                        <a href="~/docs/international/Perechen.pdf" target="_blank">
                            <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                        </a>
                    </p>
                </div>
            </div>

            


        </div>
</div>
<br>
<br>