
@{
    ViewData["Title"] = "ExecutivesContacts";
}

    <div class="container">

        @if (ViewBag.Lang == 1)
        {
            <br><br>
            <div class="row">
                <div class="col text-center">
                    <h3> Контакты руководство</h3>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <td><strong> Руководство</strong>  </td>
                            <td><strong> Приемная</strong></td>
                            <td><strong> Контакты</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Жаманкулов Азамат Капарович</td>
                            <td>Приемная министра</td>
                            <td>+996 312 62 04 82</td>
                        </tr>
                        <tr>
                            <td>Секимов Бактыбек Шайыкбекович</td>
                            <td>Приемная статс-секретаря</td>
                            <td>+996 312 62 06 13</td>
                        </tr>
                        <tr>
                            <td>Иманалиев Кайрат Олжобаевич</td>
                            <td>
                                Приемная заместителя министра
                            </td>
                            <td>+996 312 62 60 08</td>
                        </tr>
                        <tr>
                            <td>Кадырбеков Нуржигит Кадырбекович</td>
                            <td>Приемная заместителя министра</td>
                            <td>+996 312 62 26 79</td>
                        </tr>
                        <tr>
                            <td>Максат Дамир уулу</td>
                            <td>Заместитель  министра - директор департамента туризма</td>
                            <td>+996 312 62 18 71</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br><br>
            <div class="row">
                <div class="col text-center">
                    <h3> Жетекчилик менен байланыш</h3>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <td><strong> Жетекчилик  </strong> </td>
                            <td><strong>Кабылдама</strong> </td>
                            <td><strong>Байланыш</strong> </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Жаманкулов Азамат Капарович</td>
                            <td>Министрдин кабылдамасы</td>
                            <td>+996 312 62 04 82</td>
                        </tr>
                        <tr>
                            <td>Секимов Бактыбек Шайыкбекович</td>
                            <td>Статс- катчынын кабылдамасы</td>
                            <td>+996 312 62 06 13</td>
                        </tr>
                        <tr>
                            <td>Иманалиев Кайрат Олжобаевич</td>
                            <td>
                                Министрдин орун басарынын кабылдамасы
                            </td>
                            <td>+996 312 62 60 08</td>
                        </tr>
                        <tr>
                            <td>Кадырбеков Нуржигит Кадырбекович</td>
                            <td>Министрдин орун басарынын кабылдамасы</td>
                            <td>+996 312 62 26 79</td>
                        </tr>
                        <tr>
                            <td>Максат Дамир уулу</td>
                            <td>Министрдин орун басары, Туризм департаментинин директорунун кабылдамасы</td>
                            <td>+996 312 62 18 71</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
