
@{
    ViewData["Title"] = "График приема граждан руководством Министерства ";
}

<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">
            График приема граждан руководством Министерства
        </h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-hover table-bordered">
            <tr class="bg-primary text-white">
                <td width="25%">Должность </td>
                <td width="30%">Ф.И.О.</td>
                <td>Дни приема</td>
                <td width="15%">Время приема</td>
                <td width="18%">Телефон</td>
            </tr>
            <tr>
                <td>Министр</td>
                <td>Жаманкулов Азамат Капарович</td>
                <td>Среда </td>
                <td>16.00 – 18.00</td>
                <td>+996 312 62-04-82</td>
            </tr>
            <tr>
                <td>Статс-секретарь</td>
                <td>Секимов Бактыбек  Шайыкбекович</td>
                <td>Среда, четверг, пятница</td>
                <td>16.00 – 18.00</td>
                <td>+996 312 62-06-13</td>
            </tr>
            <tr>
                <td>Заместитель министра </td>
                <td>Иманалиев Кайрат Олжобаевич </td>
                <td>среда</td>
                <td>16.00 – 18.00</td>
                <td>+996 312 62-26-79</td>
            </tr>
            <tr>
                <td>Заместитель министра </td>
                <td>Кадырбеков Нуржигит Кадырбекович </td>
                <td>Четверг </td>
                <td>16.00 – 18.00</td>
                <td>+996 312 62-26-79</td>
            </tr>
            <tr>
                <td>Заместитель министра – Директор департамента туризма</td>
                <td>Дамир улуу Максат</td>
                <td>Пятница </td>
                <td>16.00 – 18.00</td>
                <td>+996 312 62-18-61   </td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>