
@{
    ViewData["Title"] = "History";
}
 
<div class="departments">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4>Хронология реорганизации министерства</h4>
            </div>
            <br />
            <br />
            <table class="table text-dark">
                <thead>
                    <tr>
                        <td width="50"><strong> №</strong></td>
                        <td width="250"><strong> Наименование</strong></td>
                        <td width="500"><strong> НПА</strong></td>
                        <td><strong> Дата и номер НПА</strong></td>
                    </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>Министерство культуры Киргизской ССР</td>
                    <td>Постановление Совета Министров Киргизской ССР</td>
                    <td>
                        от 23 сентября 1988 года
                        № 345
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Министерство культуры Республики Кыргызстан</td>
                    <td>Постановление Кабинета Министров Республики Кыргызстан</td>
                    <td>
                        от 27 марта 1991года
                        № 114
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Министерство культуры Кыргызской Республики</td>
                    <td>Указ Президента Кыргызской Республики </td>
                    <td>
                        от 17 декабря 1993 года
                        № 350
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Министерство образования, науки и культуры Кыргызской Республики</td>
                    <td>Указ Президента Кыргызской Республики </td>
                    <td>
                        от 2 декабря 1996 года
                        № 357
                    </td>
                <tr>
                    <td>5</td>
                    <td>Государственная комиссия при Правительстве Кыргызской Республики по развитию культуры и государственного языка</td>
                    <td>Указ Президента Кыргызской Республики </td>
                    <td>
                        от 7 февраля 2004 года
                        № 39
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Государственная комиссия при Правительстве Кыргызской Республики по развитию культуры</td>
                    <td>Указ Президента Кыргызской Республики </td>
                    <td>
                        от 8 сентября 2004 года
                        № 295
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Министерство культуры Кыргызской Республики</td>
                    <td>Указ Президента Кыргызской Республики </td>
                    <td>
                        от 15 октября 2005 года
                        № 462
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Министерство культуры и информации Кыргызской Республики</td>
                    <td>Указ Президента Кыргызской Республики </td>
                    <td>
                        от 16 марта 2007 года
                        № 96
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Государственное агентство культуры при Правительстве Кыргызской Республики</td>
                    <td>
                        Закон Кыргызской Республики «Об утверждении структуры Правительства Кыргызской Республики от 22 октября 2009 года.
                        Указ Президента Кыргызской Республики «Об организационных мерах по реализации положений Закона Кыргызской Республики «О структуре Правительства Кыргызской Республики» от 26 октября 2009 года N 425
                    </td>
                    <td>от 26 октября 2009 года </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Министерство культуры и информации Кыргызской Республики</td>
                    <td>Декрет Временного Правительства Кыргызской Республики «О Министерстве культуры и информации Кыргызской Республики»</td>
                    <td>
                        от 26 апреля 2010 года
                        № ВП26
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Министерство культуры и туризма Кыргызской Республики</td>
                    <td>Постановление Правительства Кыргызской Республики «О вопросах Министерства культура и туризма Кыргызской Республик» </td>
                    <td>
                        от 20 февраля 2012 года
                        №120
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Министерство культуры, информации и туризма Кыргызской Республики</td>
                    <td>Постановление Жогорку Кенеша Кыргызской Республики «О внесении изменений в постановление Жогорку Кеңеша Кыргызской Республики «О структуре Правительства Кыргызской Республики» №2265 от 5 сентября 2012 года»</td>
                    <td>от 21 февраля 2013 года №2798 </td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Министерство культуры, информации и туризма Кыргызской Республики</td>
                    <td>Постановление Правительства Кыргызской Республики «О вопросах Министерства культура и туризма Кыргызской Республики»</td>
                    <td>
                        от 3 мая 2013 года
                        №236
                    </td>
                </tr>
                
            </table>

        </div>
        <br />
        <br />
 
    </div>
</div>