
@{
    ViewData["Title"] = "InfPolitika";
}

<br />
<div class="row">
    <div class="col-sm-6 col-md-2">
    </div>
    <div class="col-sm-6 col-md-6">
        <h4 class="text-center">Информация о Департаменте информации и массовых коммуникаций при МКИТ КР</h4>
    </div>
    <div class="col-sm-6 col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Департамент информации и массовых коммуникаций при Министерстве культуры, информации и туризма Кыргызской Республики (далее - Департамент) является подведомственным подразделением Министерства культуры, информации и туризма Кыргызской Республики (далее - Министерство).
        </p>
        <p>
            Целью деятельности Департамента является развитие информационной сферы Кыргызской Республики.
        </p>
        <p>
            Основными задачами Департамента являются:
            <ul>
                <li>
                    создание благоприятных условий для развития средств массовой информации, предприятий полиграфии и распространения печатной продукции;
                </li>
                <li>
                    обеспечение условий для производства национального аудиовизуального продукта, формирование социального пакета телеканалов.
                </li>
            </ul>
        </p>
        <p>
            Департамент осуществляет следующие функции:
            <ul>
                <li>участвует в реализации Программы перехода на цифровое вещание в Кыргызской Республике;</li>
                <li>осуществляет процедуру выдачи, переоформления, отказа, приостановления, прекращения, аннулирования и возобновления разрешения на размещение телерадиоканала в аналоговом вещании и (или) цифровом пакете вещания, независимо от применяемых технологий;</li>
                <li>осуществляет лицензионный контроль за соблюдением телерадиоорганизациями и операторами телерадиовещания требований законодательства Кыргызской Республики в сферах лицензионно-разрешительной системы, средств массовой информации, телевидения и радиовещания;</li>
                <li>формирует и ведет реестр разрешений на размещение телеканала в аналоговом вещании и (или) цифровом пакете вещания независимо от применяемых технологий;</li>
                <li>обеспечивает исполнение международных обязательств Кыргызской Республики в части, касающейся вопросов информационной сферы;</li>
                <li>осуществляет мониторинг и анализ ситуации в области средств массовой информации, распространения периодических печатных изданий, а также электронных носителей информации;</li>
                <li>способствует укреплению материально-технической базы средств массовой информации, в том числе государственных, улучшению распространения печатной продукции;</li>
                <li>осуществляет координацию в формировании пакета обязательных к распространению на территории страны телевизионных и радиопрограмм;</li>
                <li>координирует и осуществляет контроль деятельности подведомственных учреждений и организаций, находящихся в ведении Департамента;</li>
            </ul>
        </p>
        <p>
            Подведомственные учреждения (государственные СМИ):
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            №
                        </td>
                        <td>Наименование</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>Баткенский государственный областной медиацентр</td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>Жалал-Абадский государственный областной медиацентр</td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>Нарынский государственный областной медиацентр</td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>Иссык-Кульский государственный областной медиацентр</td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>Чуйский государственный областной медиацентр</td>
                    </tr>
                    <tr>
                        <td>
                            6
                        </td>
                        <td>Таласский государственный областной медиацентр</td>
                    </tr>
                    <tr>
                        <td>
                            7
                        </td>
                        <td>Общественно региональная телерадиокомпания «Ынтымак»</td>
                    </tr>
                    <tr>
                        <td>
                            8
                        </td>
                        <td>Редакция детского журнала «Байчечекей»</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Редакция газеты «Жеткинчек»</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Редакция журнала «Кырчын»</td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>