
@{
    ViewData["Title"] = "ПЕРЕЧЕНЬ Государственных кинодирекций по Кыргызской Республике";
}

<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">
            ПЕРЕЧЕНЬ
            Государственных кинодирекций по Кыргызской Республике
        </h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover table-bordered">
            <tr class="bg-primary text-white">
                <td width="20%">№ п/п</td>
                <td width="80%">Наименование </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong> Областные кинодирекции </strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Джалал-Абадская областная государственная кинодирекция </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ошская областная государственная кинодирекция   </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Таласская областная государственная кинодирекция </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Нарынская областная государственная кинодирекция </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Иссык-Кульская областная государственная кинодирекция </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Баткенская областная государственная кинодирекция </td>
            </tr>
            <tr>
                <td>7</td>
                <td>Чуйская областная государственная кинодирекция </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong> Районные кинодирекции</strong></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong>Джалал-Абадская область</strong> </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Аксыйскская государственная районная кинодирекция </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong> Ошская область</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Кара-Кулжинская  государственная районная кинодирекция </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Кара-Суйская государственная районная кинодирекция </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Алайская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Араванская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Узгенская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong> Таласская  область</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Кара-Бууринская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong> Нарынская область</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Кочкорская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ат-Башинская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ак-Талинская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Жумгалская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong> Иссык-Кульская область</strong> </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Ыссык-Кульская  государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Тонская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong> Баткенская область</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Лейлекская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Кадамжайская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><strong>Чуйская область</strong> </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Сокулукская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Жайылская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Чуйская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Кеминская государственная районная кинодирекция</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Московская государственная районная кинодирекция</td>
            </tr>
        </table>
    </div>
</div>