
@{
    ViewData["Title"] = "Государственные кинодирекции";
}

<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Государственные кинодирекции</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="text-justify myIndent">Государственные кинодирекции являются государственными учреждениями входящие в состав Департамента кинематографии при Министерстве культуры, информации и туризма Кыргызской Республики.</p>
        <p class="text-justify myIndent">Кинодирекции осуществляют свою деятельность в соответствии с Конституцией Кыргызской Республики, законами Кыргызской Республики, принимаемыми в соответствии с ними иными нормативными правовыми актами Кыргызской республики. </p>
        <p class="text-justify myIndent">В соответствии  с основными задачами кинодирекции осуществляют следующие функции: осуществляют задачи по совершенствованию творческо-технической базы кинодирекции, доведению произведений киноискусства до широких слоев населения; разрабьатывают и осуществляют мероприятия по улучшению киновидеообслуживания населения; осуществляют сотрудничество с отечественными и зарубежными кинофирмами и компаниями в сфере кинопроката; организуют культурные программы, кинофестивали, кинонедели, премьеры фильмов, творческие встречи и другие мероприятия; организуют стационарного и передвижного показа кинофильмов.</p>
        <p></p>
</div>
</div>