
@{
    ViewData["Title"] = "«Национальная киностудия «Кыргызфильм» имени Т. Океева»";
}
<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">«Национальная киностудия «Кыргызфильм» имени Т. Океева»</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="text-justify myIndent">
            Государственное учреждение «Национальная киностудия «Кыргызфильм» имени Т. Океева» Департамента кинематографии при Министерстве культуры, информации и туризма Кыргызской Республики (далее - Киностудия) является юридическим лицом, образованным, в организационно-правовой форме государственного учреждения, основанным на праве оперативного управления в соответствии с Гражданским кодексом Кыргызской Республики.
        </p>
        <p class="text-justify myIndent">Киностудия Кыргызфильм была создана в 1941 году на базе корпункта Узбекского государственного фотокинотреста («Узбеккино») и сначала называлась Фрунзенская студия кинохроники (с 1956 года — Фрунзенская студия художественных и хроникально-документальных фильмов). Нынешнее название получила в 1961 году.</p>
        <p class="text-justify myIndent">В 1960—1970-х на «Киргизфильме» были экранизированы многие произведения Чингиза Айтматова. С экранизаций Айтматова здесь начинали режиссёрскую карьеру Лариса Шепитько («Зной»), Андрей Кончаловский («Первый учитель»). В дальнейшем на студии работали местные режиссёры: Болотбек Шамшиев («Выстрел на перевале Караш», «Белый пароход», «Восхождение на Фудзияму») и Толомуш Океев («Красное яблоко», «Потомок белого барса»). В 1972 году Болот Шамшиев снял «Алые маки Иссык-Куля» — один из образцов так называемого истерна. Альгимантас Видугирис снял такие художественные фильмы как «Мужчины без Женщин», «Катастрофу не разрешаю», другие документальные фильмы. С именем этих трёх кинорежиссёров (Океева, Шамшиева, Видугириса) связывают феномен «киргизского чуда» — период расцвета киностудии «Киргизфильм».</p>
        <p class="text-justify myIndent">В настоящее время киностудия Киргизфильм названа в честь кинорежиссёра Толомуша Океева.</p>
        <p><h6>Задачи и функции Киностудии</h6> 
        <ul>
            <li>использование материально-технической базы, творческого потенциала профессиональных кинематографистов Киностудии для создания высокохудожественных произведений киноискусства;</li>
            <li> создание кинопроизведений высокого художественного уровня, отображающих и развивающих лучшие традиции национального киноискусства;</li>
            <li>совершенствование организации и технологии производства киновидеофильмов и другой фильмопродукции;</li>
            <li>производство национальных фильмов по линии государственного заказа, киновидеофильмов за счет средств, полученных от собственной хозяйственной деятельности, киновидеофильмов по заказам министерств и административных ведомств, других юридических и физических лиц, совместных киновидеофильмов с киностудиями зарубежных государств;</li>
            <li>создание условий для раскрытия творческого потенциала создателей киновидеопроизведений, выявление и поддержка талантливых кинематографистов.</li>
        </ul>
        </p>

    </div>
</div>