
@{
    ViewData["Title"] = "Кинематография";
}


<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Кинематография</h4>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="KinomotographyDepart">
                <h5>
                    O Департаменте кинематографии  при МКИТ КР
                </h5>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="KinomotographyKinoStudia">
                <h5>
                    «Национальная киностудия «Кыргызфильм» имени Т. Океева»
                </h5>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="KinomotographyKinoDireksii">
                <h5>
                    Государственные кинодирекции
                </h5>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="KinomotographyPerechen">
                <h5>
                    ПЕРЕЧЕНЬ
                    Государственных кинодирекций по Кыргызской Республике
                </h5>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="KinomotographyDireksia">
                <h5>
                    Дирекция Республиканского Дома кино им. Ч.Айтматова
                </h5>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="KinomotographyFond">
                <h5>
                    Республиканский государственный фонд киновидеофильмов («Кыргызфильмофонд»)
                </h5>
            </a>
        </td>
    </tr>
</table>

