
@{
    ViewData["Title"] = "Дирекция Республиканского Дома кино им. Ч.Айтматова";
}

<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Дирекция Республиканского Дома кино им. Ч.Айтматова</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="text-justify myIndent">
            Дирекция Республиканского Дома кино им. Ч.Айтматова образовано в соответствии с Положение о  Департаменте кинематографии при министерстве культуры, информации и туризма Кыргызской Республики, утвержденного постановлением Правительства Кыргызской Республикиот 16 апреля 2012 года №241. Дом кино им. Ч.Айтматова является подведомственным учреждением Департамента кинематографии и является юридическим лицом с момента государственной регистрации и образован в форме государственного учреждения. Дом кино им. Ч.Айтматова зарегистрировано в Министерстве юстиции КР 14 ноября 2016 года.
        </p>
        <p class="text-justify myIndent"> Дом кино является юридическим лицом и  оосновными  задачами  являются: проводит премьеры национальных фильмов, творческие, благотворительные мероприятия, организует показы отечественных и зарубежных производителей, в том числе и фильмы для детской аудитории и показы новых фильмов для ветеранов кино, социальные направления, также проводит различные семинары, пресс конференции, организует и проводит кинофестивали, совещания, встречи, выставки различного уровня в целях популяризации кыргызского кино,   лекции в области кинематографии и его пропаганде.</pclass="text-justify">
    </div>
</div>