
@{
    ViewData["Title"] = "Республиканский государственный фонд киновидеофильмов («Кыргызфильмофонд»)";
}

<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Республиканский государственный фонд киновидеофильмов («Кыргызфильмофонд»)</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="text-justify myIndent"> Фильмофонд является государственным учреждением, входящим в состав Департамента кинематографии при Министерстве культуры, туризма и информации Кыргызской Республики  и находится в его подчинении.    </p>
        <p>    Основные задачи и функции  Фильмофонда:</p>
        <p>
            <ul>
                <li>Сохранение для последующих поколений государственного кинофонда, как культурного достояния народов Кыргызстана;</li>
                <li>Содействие средствами кино повышению культурного и образовательного уровня населения Кыргызской Республики;</li>
                <li>Создание условий для доступности широких слоев населения к произведениям кыргызского и зарубежного киноискусства;</li>
            </ul>
        </p>
        <p>В соответствии с основными задачами Фильмофонд осуществляет следующие функции:</p>
        <ul>
            <li>осуществляет пополнение фонда национальными и зарубежными фильмами;</li>
            <li>проводит организационно-технические мероприятия, направленные на обеспечение сохранности фильмокопий;</li>
            <li>тиражирование фильмокопий;</li>
            <li>ведет учет кинопроекционных, видеопроекционных установок осуществляющих публичную демонстрацию киновидеофильмов на территории Кыргызской Респукблики;</li>
            <li>осуществляет выдачу прокатных удостоверений на фильмы, созданные в Кыргызской Республике или приобретенные за рубежом, для проката на территории Кыргызской Республики;</li>
            <li>осуществляет выдачу удостоверения национального фильма;</li>
            <li>осуществляет ведение государственного регистра фильмов.</li>
        </ul>
        <p class="text-justify myIndent">    </p>
        <p class="text-justify myIndent">    </p>
        <p class="text-justify myIndent">    </p>
    </div>
</div>