
@{
    ViewData["Title"] = "KinomotographyDepart";
}

<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Департаменте кинематографии  при МКИТ КР</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="text-justify myIndent">
            Департамент по кинематографии при Министерстве культуры и информации и туризма  Кыргызской Республики (далее - Департамент) является подведомственным подразделением Министерства культуры и информации Кыргызской Республики.
        </p>
        
        Основными задачами Департамента являются:
        <ul>
            <li>
                совершенствование управления системой национальной кинематографии;
            </li>
            <li>
                обеспечение условий для развития национального кинематографа;
            </li>
            <li>
                повышение роли киноискусства в возрождении духовных традиций кыргызского народа;
            </li>
            <li>
                сохранение для последующих поколений государственного национального фильмофонда как культурного достояния народа Кыргызстана;
            </li>
            <li>
                создание условий для доступа населения к произведениям кыргызского и мирового киноискусства.
            </li>
        </ul>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="text-center">
            <h6 class="text-center">
                Схема <br />
                управления Департамента кинематографии при Министерстве культуры и информации и туризма Кыргызской Республики
            </h6>
        </p>
        <p class="text-center">
            <img src="~/images/KinoDepSchema.png" />
        </p>

</div>
</div>