
@{
    ViewData["Title"] = "Ministr";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center"><h3> Министр культуры, информации и туризма</h3></div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-4"><img class="card-img-top" src="~/health/images/ministr.jpg" style="margin-top:0px;" alt="Card image"> </div>
    <div class="col-md-4"> </div>
    <div class="col-md-4"></div>
</div>
<br />
<div class="row">
    <h4>Жаманкулов Азамат Капарович</h4>
</div>

@if (ViewBag.Lang == 2)
{

}
else
{

    <table class="table">
        <tr>
            <td width="120"><strong>Год рождения:</strong> </td>
            <td>27.09.1987 г</td>
        </tr>
        <tr>
            <td><strong>Место рождения:</strong> </td>
            <td>Бакай- Атинский район ,Таласской области</td>
        </tr>
        <tr>
            <td><strong>Национальность:</strong> </td>
            <td>кыргыз</td>
        </tr>
        <tr>
            <td><strong>Гражданство:</strong> </td>
            <td>Кыргызской Республики</td>
        </tr>
        <tr>
            <td><strong>Образование:</strong> </td>
            <td>высшее</td>
        </tr>
        <tr>
            <td>2008 </td>
            <td>Кыргызско-Турецкий  Университет « Манас». Специальность: «Менеджмент в организации»</td>
        </tr>
        <tr>
            <td>2011 </td>
            <td>Международный Университет Кыргызстана. Специальность: «Финансы».</td>
        </tr>
        <tr>
            <td><strong>Знание языков:</strong></td>
            <td>кыргызский, казахский, турецкий  русский, английский</td>
        </tr>
    </table>
    <br />

    <h5>Трудовая деятельность:</h5>

    <table class="table">
        <tr>
            <td><strong>Год и месяц вступления и ухода</strong></td>
            <td><strong>Наименование учреждения, предприятия, организации</strong></td>
            <td><strong>Занимаемая должность</strong> </td>
        </tr>
        <tr>
            <td>2011- 2013г.г.</td>
            <td>ОсОО «Риэлт Партнер» </td>
            <td>Исполнительный директор</td>
        </tr>
        <tr>
            <td>2013-2014 г.г.</td>
            <td>
                ОАО «Кристалл» г.
                Таш- Кумыр
            </td>
            <td>Специалист по привлечению инвестиций - экономист </td>
        </tr>
        <tr>
            <td>2014 г. </td>
            <td>Секретариат по подготовке и проведению Первых Всемирных Игр Кочевников </td>
            <td>Заместитель руководителя</td>
        </tr>
        <tr>
            <td>2014 г.	</td>
            <td>ОФ «Всемирные Этно Игры»</td>
            <td>Вице- президент</td>
        </tr>
        <tr>
            <td>2014-2015 г.г.</td>
            <td>Ассоциация курортов Кыргызстана	</td>
            <td>Исполнительный директор </td>
        </tr>
        <tr>
            <td>2015 г.</td>
            <td>Секретариат по подготовке и проведению Вторых Всемирных Игр Кочевников</td>
            <td>Руководитель</td>
        </tr>
        <tr>
            <td>2015-2018 г.г.</td>
            <td>Министерство культуры, информации и туризма КР, Департамент туризма </td>
            <td>Заместитель министра культуры, информации и туризма КР, Директор департамента туризма </td>
        </tr>
        <tr>
            <td>2018 г. по настоящее время </td>
            <td>Министерство культуры, информации и туризма КР</td>
            <td>Министр</td>
        </tr>
    </table>





}
