
@{
    ViewData["Title"] = "Ministr";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center"><h3> Министр культуры, информации и туризма</h3></div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-4"><img class="card-img-top" src="~/health/images/ministr.jpg" style="margin-top:0px;" alt="Card image"> </div>
    <div class="col-md-4"> </div>
    <div class="col-md-4"></div>
</div>
<br />
<div class="row">
    <h4>Жаманкулов Азамат Капарович</h4>
</div>

@if (ViewBag.Lang == 2)
{

}
else
{

    <p>
        Родился  27 сентября 1987 года в Бакай-Атинском районе Таласской области.
    </p>

    <p>
        <strong>Национальность: </strong> кыргыз
    </p>

    <p>
        <strong>Гражданство:</strong>
        Кыргызской Республики
    </p>

    <p>
        <strong>Образование: </strong> высшее
    </p>

    <p>
        В 2008 году окончил Кыргызско-Турецкий  Университет « Манас» по специальности «Менеджмент в организации».
    </p>

    <p>
        В 2011 году окончил   Международный Университет Кыргызстана по специальности «Финансы».
    </p>
    <p>
        <strong>Знание языков:</strong> кыргызский, казахский, турецкий  русский, английский
    </p>
    <br />

    <h5>Трудовая деятельность:</h5>

    <p>
        2011- 2013г.г. - ОсОО «Риэлт Партнер», исполнительный директор
    </p>
    <p>
        2013-2014 г.г.- ОАО «Кристалл» г.Таш- Кумыр, специалист по привлечению инвестиций - экономист
    </p>
    <p>
        2014 г.- Секретариат по подготовке и проведению Первых Всемирных Игр Кочевников, заместитель руководителя
    </p>
    <p> 2014 г.	- ОФ «Всемирные Этно Игры», вице- президент
    </p>
    <p>
       2014-2015 г.г. - Ассоциация курортов Кыргызстана, исполнительный директор
    </p>
    <p>
      2015 г. - Секретариат по подготовке и проведению Вторых Всемирных Игр Кочевников, руководитель
    </p>
    <p> 
        2015-2018 г.г. - Министерство культуры, информации и туризма КР, Департамент туризма, заместитель министра культуры, информации и туризма КР, Директор департамента туризма
    </p>
    <p>
        2018 г. по настоящее время - Министерство культуры, информации и туризма КР, министр
    </p>
 

}
