
@{
    ViewData["Title"] = "MyzeinoeDelo";
}

<div class="container">
    <br />
    <br />
    @if (ViewBag.Lang == 1)
    {
        <div class="row">
            <h4>
                Информация о музеях Кыргызской Республики
            </h4>
            <p>
                Основная миссия музеев заключается в сохранении, приумножении и доведения до будущих поколений духовных и культурных ценностей народа.
            </p>
            <p>
                В соответствии c Законом Кыргызской Республики «О музеях и Музейном фонде Кыргызской Республики» государственное управление в области музейного дела Кыргызской Республики, осуществляется Правительством Кыргызской Республики через государственный орган-Министерство культуры, информации и туризма Кыргызской Республики, а также местными государственными администрациями, органами местного самоуправления.
            </p>
            <p>
                <strong>Управления сохранения и развития культурного наследия осуществляет деятельность по:</strong>
                <ul>
                    <li>
                        - обеспечению государственной поддержки и созданию условий для использования, сохранения и пополнения фондов музеев;
                    </li>
                    <li>
                        -государственному контролю и надзору за вывозом из Кыргызской Республики и ввозом на ее территорию культурных ценностей.
                    </li>
                </ul>
            </p>
            <p>
                <strong>Нормативно-правовая база музеев:</strong>
            </p>
            <p>
                Работа по музейному делу проводится согласно закона Кыргызской Республики «О музеях и Музейном фонде Кыргызской Республики» от 24 июля 2015 года №193, «Инструкции по учету и хранению музейных предметов и музейных коллекций, находящихся в музеях Кыргызской Республики» утвержденный приказом (Приказ МКИТ №617 от 15.12.2016г.), «Порядок включения музейных предметов и коллекций в состав и исключения из состава Музейного фонда КР» (Приказ МКИТ №61 от 22.02.2017г.), «Положения о Государственном каталоге Музейного фонда КР» (Приказ МКИТ №61 от 22.02.2017г.), «Порядок создания и функционирования музеев в Кыргызской Республике» (Приказ МКИТ №460 от 8.11.2017г.)

                <ul>
                    <li>
                        Республиканского значения – 9
                    </li>
                    <li>
                        Областные – 3
                    </li>
                    <li> Районные музеи – 23</li>
                    <li>Сельские музеи – 17</li>
                    <li>Ведомственные -</li>
                    <li>Частные музеи – 10</li>
                    <li>Школьные музеи - 33</li>
                </ul>
            </p>
            <br />
            <p>
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Бишкек</td>
                            <td>Чуйская область</td>
                            <td>Ошская область</td>
                            <td>Джалал-Абадская область</td>
                            <td>Баткенская область</td>
                            <td>Иссык-Кульская область</td>
                            <td>Нарынская область</td>
                            <td>Таласская область</td>
                            <td>ВСЕГО</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мемориальные (дом-музей) </td>
                            <td>6</td>
                            <td>5</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td>1</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>Краеведческие </td>
                            <td></td>
                            <td>1</td>
                            <td>1</td>
                            <td>4</td>
                            <td></td>
                            <td>4</td>
                            <td>1</td>
                            <td></td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>Историко-краеведческие </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Исторические </td>
                            <td>1</td>
                            <td></td>
                            <td>2</td>
                            <td>1</td>
                            <td>5</td>
                            <td>1</td>
                            <td>1</td>
                            <td></td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>Этнографические </td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td>2</td>
                            <td>1</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Музеи изобразительного искусства</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>ИЗО и литературные </td>
                            <td>1</td>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Археологические музеи</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Археолого – архитектурные </td>
                            <td></td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Музеи под открытым небом </td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Музеи-заповедники</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Школьные музеи</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>10</td>
                            <td>22</td>
                            <td>1</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <td>Частные музеи</td>
                            <td>3</td>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>2</td>
                            <td></td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Зоологические </td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Геологические </td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr style="background-color:darkkhaki">
                            <td>Итого</td>
                            <td>12</td>
                            <td>9</td>
                            <td>8</td>
                            <td>10</td>
                            <td>4</td>
                            <td>7</td>
                            <td>4</td>
                            <td>4</td>
                            <td>58</td>
                        </tr>
                    </tbody>

                </table>
            </p>
            <br />
            </div>
      }


            
        </div>
