
@{
    ViewData["Title"] = "MyzeiIndex";
}

<br />
<br />
<table class="table">
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="MyzeinoeDelo">
                <h4>
                    Музейное дело
                </h4>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="MyzeinyiFond">
                <h4>
                    Музейный фонд
                </h4>
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a class="dropdown-item text-primary" asp-controller="Home" asp-action="MyzeinyeZdanie">
                <h4>
                    Характер зданий, в которых расположены музеи
                </h4>
            </a>
        </td>
    </tr>
</table>


@*<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table-info">
            <tr>
                <td>
                    <a class="dropdown-item text-primary" asp-controller="Home" asp-action="MyzeinoeDelo">
                        <h3>
                            Музейное дело
                        </h3>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item text-primary" asp-controller="Home" asp-action="MyzeinyiFond">
                        <h3>
                            Музейный фонд
                        </h3>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item text-primary" asp-controller="Home" asp-action="MyzeinyeZdanie">
                        <h3>
                            Характер зданий, в которых расположены музеи
                        </h3>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>*@

