
@{
    ViewData["Title"] = "ПОЛОЖЕНИЕ";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h4>
            ПОЛОЖЕНИЕ <br />
        </h4>
        <h6>
            об осуществлении идентификации и определения различных элементов нематериального культурного наследия
            Кыргызской Республики

        </h6>
    </div>
    <div class="col-md-2"></div>
</div>
<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h6>
            1. Общие положения
        </h6>
        <br />
        <p>1.1. Процесс идентификации должен включать действия по формированию идентификационной информации субъекта (объекта) доступа, присвоению субъекту (объекту) доступа идентификатора и их последующей регистрации, а при доступе субъекта доступа к объекту доступа – действия по проверке существования (наличия) идентификатора, предъявленного субъектом доступа, в перечне присвоенных идентификаторов.</p>
        <p>1.2. Идентификация разделяется на первичную идентификацию, осуществляемую при регистрации регистрирующей стороной нового субъекта (объекта) доступа, и вторичную идентификацию, регулярно повторяющуюся при каждом запросе субъекта доступа на доступ.</p>
        <p>1.3. Для поддержания актуального состояния (обновления) идентификационной информации зарегистрированного субъекта (объекта) доступа первичная идентификация может повторяться с установленной периодичностью или по мере необходимости, а также выполняться по запросу субъекта (объекта) доступа. Вторичная идентификация субъекта доступа может выполняться однократно или, при необходимости, с установленной периодичностью в течение всего информационного взаимодействия между субъектом доступа и объектом доступа.</p>
        <br />
        <h6>2. Цели и задачи </h6>
        <p>2.1. Целью идентификации является распознавание субъекта с необходимой уверенностью в том, что он является именно тем, за кого себя выдает. При этом степень достижения цели определяется уровнем доверия к результатам идентификации. Целью вторичной идентификации является опознавание субъекта доступа, запросившего доступ к объекту доступа. При этом должна выполняться проверка существования идентификатора доступа, предъявленного субъектом доступа, в перечне присвоенных идентификаторов.</p>
        <p>
            2.2. В общем случае идентификация охватывают:
            <ul>
                <li> первичную идентификацию, включающую формирование и регистрацию информации, а также присвоение идентификатора доступа и его регистрацию в перечне присвоенных идентификаторов;</li>
                <li> хранение и поддержание актуального состояния (обновление).</li>    
            </ul>

        </p>
        <p>
            2.3. Идентификационной информации субъекта (объекта) доступа в соответствии с установленными правилами;
            - вторичную идентификацию, которая обеспечивает опознавание субъекта доступа, запросившего доступ к объекту доступа, по предъявленному идентификатору;
        </p>
        <p>2.4. Целью первичной идентификации является установление (подтверждение) соответствия между субъектом (объектом) доступа и заявленными им идентификационными данными.</p>
        <p>При наличии предъявленного идентификатора доступа в перечне присвоенных идентификаторов процесс вторичной идентификации должен считаться успешно пройденным.</p>
        <br />
        <h6>3. Основные требования при проведении процедуры </h6>

        <p>3.1. До первичной идентификации регистрирующей стороной должны быть установлены требования к первичной идентификации, которые определяют объем, состав и обязательность идентификационных атрибутов субъекта (объекта) доступа, используемых для формирования идентификационной информации, а также устанавливают необходимость, порядок и правила подтверждения заявленных субъектом (объектом) доступа идентификационных данных.</p>
        <p>3.2. В конкретной среде функционирования каждый субъект (объект) доступа должен иметь единственный набор значений идентификационных атрибутов, связанный с идентификатором доступа, что обеспечит однозначную идентификацию данного субъекта (объекта) доступа.</p>
        <p>
            3.3. При первичной идентификации регистрирующей стороне необходимо оценить идентификационные данные, заявленные субъектом (объектом) доступа, на соответствие установленным требованиями, а также установить и подтвердить соответствие между субъектом доступа и его идентификационными данными. Для этого:
            <ul>
                <li>при оценке заявленных идентификационных данных надлежит проверить наличие у регистрирующей стороны идентификационной информации, связанной с субъектом (объектом) доступа, ее уникальность и актуальность, а также определить – достаточно ли предъявлено идентификационных атрибутов для однозначной идентификации субъекта (объекта) доступа;</li>
                <li> при подтверждении заявленных идентификационных данных надлежит проверить их существование путем верификации и получения свидетельств, а также установить связь (осуществить привязку) между субъектом (объектом) доступа и заявленными идентификационными данными.</li>
            </ul>
        </p>
        <p>3.4. Регистрирующая сторона может использовать собственную подтверждающую информацию, подтверждающую информацию, которая предоставлена субъектом (объектом) доступа, а также может использовать внешние (по отношению к регистрирующей стороне) сервисы, предоставляемые, например, доверенной третьей стороной.</p>
        <p>3.5. Свидетельства являются результатом верификации заявленных идентификационных данных с использованием, как правило (но не только), внешних сервисов, в том числе имеющих возможность официального подтверждения идентификационных данных.</p>
        <p>3.6. По результатам первичной идентификации субъекту (объекту) доступа должен присваиваться уникальный идентификатор доступа, определяющий соотнесенную с ним идентификационную информацию субъекта (объекта) доступа. Уникальность идентификатора доступа должна обеспечиваться в области действия единых правил управления доступом.</p>
        <p>3.7. Идентификатор доступа может назначаться субъекту (объекту) доступа регистрирующей стороной или самостоятельно создаваться субъектом доступа в соответствии с установленными правилами.</p>
        <p>3.8. Минимально достаточный объем и уникальность идентификационной информации, связанной с субъектом (объектом) доступа, а также оценка и подтверждение регистрирующей стороной идентификационных данных по установленным правилам должны обеспечить необходимую уверенность в том, что заявленные идентификационные данные действительно соответствуют (принадлежат) данному субъекту (объекту) доступа.</p>
        <p>3.9. Первичная идентификация субъекта (объекта) доступа должна завершаться регистрацией идентификационной информации и присвоенного субъекту (объекту) доступа уникального идентификатора доступа или обоснованным отказом. Основанием для отказа в регистрации может быть несоответствие заявленных идентификационных данных требованиям к первичной идентификации или невозможность их подтверждения в установленном порядке.</p>
        <p>3.10. В качестве оснований для отказа, например, могут рассматриваться недостаточный объем идентификационных данных, представленных субъектом (объектом) доступа, отрицательный результат их верификации или отсутствие необходимой подтверждающей информации.</p>
        <p>3.11. По решению регистрирующей стороны возможна регистрация субъекта доступа, идентификационные данные которого не соответствуют требованиям к первичной идентификации или не были подтверждены.</p>
        <p>3.12. Первичная идентификация должна являться неотъемлемой частью как процесса идентификации, не предусматривающего аутентификацию и последующий доступ субъекта доступа, так и частью процесса идентификации, предполагающего последующий доступ субъекта доступа и, соответственно, его аутентификацию.</p>
        <br />
        <h6>4. Процедура проведения идентификации </h6>
        <p>
            4.1. Процесс идентификации  не предусматривающий последующий доступ в общем виде должен включать:
            <ul>
                <li> представление физическим лицом или получение от ресурса идентификационных данных, необходимых для первичной идентификации;</li>
                <li> оценка возможности регистрации идентификационной информации регистрирующей стороной и подтверждение соответствия между физическим лицом (ресурсом) и его идентификационными данными;</li>
                <li>принятие регистрирующей стороной решения о результате первичной идентификации, в том числе регистрация идентификационной информации и присвоенного физическому лицу (ресурсу) идентификатора или обоснованный отказ в регистрации;</li>
                <li> хранение и поддержание идентификационной информации в актуальном состоянии (обновление) регистрирующей стороной и при необходимости, предоставление ее по запросам.</li>
            </ul>
        </p>
        <p>4.2. Процесс идентификации предусматривающий последующие доступ в общем виде должен включать:
        <ul>
            <li> формирование запроса на регистрацию субъекта (объекта) доступа и последующее представление идентификационных данных, необходимых для первичной идентификации;</li>
            <li>оценка регистрирующей стороной возможности регистрации идентификационной информации и подтверждение соответствия между субъектом (объектом) доступа и его идентификационными данными;</li>
            <li>принятие регистрирующей стороной решения о результате первичной идентификации, в том числе регистрация идентификационной информации и присвоенного субъекту (объекту) доступа идентификатора доступа или обоснованный отказ в регистрации;</li>
            <li>хранение и поддержание в актуальном состоянии (обновление) идентификатора доступа и идентификационной информации регистрирующей стороной;</li>
            <li>предъявление доверяющей стороне субъектом доступа идентификатора для вторичной идентификации при запросе доступа к объекту доступа;</li>
            <li>проверка доверяющей стороной существования (наличия) идентификатора, предъявленного субъектом доступа, в перечне присвоенных идентификаторов;</li>
            <li> контроль проверяющей стороной принадлежности субъекту доступа идентификатора доступа, включая проверку актуальности (действительности) и проверку связи идентификатора доступа с субъектом доступа;</li>
            <li>принятие решения доверяющей стороной о результате вторичной идентификации и последующем проведении аутентификации. </li>
        </ul>
        </p>
        <br />
        <h6>5. Заключение</h6>
        <p>5.1. Процесс идентификации должен включать действия по формированию идентификационной информации, присвоению идентификатора и их последующей регистрации, а при доступе действия по проверке существования (наличия) идентификатора, предъявленного в перечне присвоенных идентификаторов.</p>
        <p>5.2. Для поддержания актуального состояния (обновления) идентификационной информации зарегистрированного первичная идентификация может повторяться с установленной периодичностью или по мере необходимости, а также выполняться по запросу. Вторичная идентификация может выполняться однократно или при необходимости, с установленной периодичностью в течение всего информационного взаимодействия между субъектом и объектом</p>
        <p></p>


    </div>
    <div class="col-md-2"></div>
</div>