
@{
    ViewData["Title"] = "ПОЛОЖЕНИЕ";
}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h4>
                ПОЛОЖЕНИЕ <br />
            </h4>
            <h6>
                о порядке оказания содействия научным, техническим
                и искусствоведческим исследованиям в сфере нематериального
                культурного наследия, находящегося под угрозой исчезновения
            </h6>
        </div>
        <div class="col-md-2"></div>
    </div>
<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h6> 1. Общие положения</h6>
        <p>1.1.	Данное Положение предусматривает общий порядок поддержки и содействия (в том числе финансовое) в проведении научно-исследовательских работ, связанных с научной, научно-технической и искусствоведческой деятельностью, а также формой оказания содействия исполнителям, если иное не предусмотрено законодательством Кыргызской Республики.</p>
        <p>

            1.2.	Содействия в проведении научно-исследовательских работ, связанных с научной, научно-технической и искусствоведческой деятельностью используются для:
            <ul>
                <li> проведения фундаментальных и поисковых исследований в области определения и защиты элементов нематериального культурного наследия, находящихся под угрозой исчезновения;</li>
                <li> выполнения государственных научно-технических программ и отдельных научно-технических проектов в области защиты элементов нематериального культурного наследия, находящихся под угрозой исчезновения;</li>
                <li>
                    развития научно-технического сотрудничества на основе межгосударственных соглашений в области защиты элементов нематериального культурного наследия, находящихся под угрозой исчезновения;
                </li>
                <li>
                    контрактного финансирования отдельных исследований и разработок по системе грантов.
                </li>
            </ul>
        </p>
        <p>Финансирование исследовательской деятельности связанных с научной, научно-технической и искусствоведческой деятельностью осуществляет уполномоченный государственный орган в области культуры и искусства за счет грантовых и других внебюджетных средств. </p>
        <p>1.3. При формировании проектов по содействию научным, техническим и искусствоведческим исследованиям в сфере нематериального культурного наследия, находящегося под угрозой исчезновения, исследовательские коллективы и организации, выступающие исполнителями государственного заказа на научно-исследовательские работы по определению и защите  элементов нематериального культурного наследия, находящихся под угрозой исчезновения направляют в уполномоченный государственный орган в области культуры и искусства предложения и обоснования по оказанию содействия и поддержки.   </p>
        <p>Порядок и форму представления предложений устанавливает уполномоченный государственный орган в области культуры и искусства.</p>
        <p>1.4. Уполномоченный государственный орган в области культуры и искусства совместно с заинтересованными сторонами готовит сводную заявку на средства, необходимые для оказания поддержки (в том числе финансирования) научной и научно-технической деятельности, с указанием общего объема и методов поддержки.</p>
        <p>Сводная заявка предварительно рассматривается уполномоченным государственным органом в области культуры и искусства.</p>
        <p>1.5. После одобрения заявок, материалы направляются на рассмотрение экспертов уполномоченного государственного органа в области культуры и искусства. </p>
        <p>1.6. Эксперты уполномоченного государственного органа в области культуры и искусства проводят экспертизу и оценку материалов и вносит предложение руководству уполномоченного государственного органа в области культуры и искусства заключение для принятия решения об оказании содействия и поддержки (в том числе определяет форму содействия и поддержки) или отклоняет материалы с обоснованием. </p>
        <p>1.7. Организациями (исполнителями) работ по научно-техническим исследовательским работам в сфере нематериального культурного наследия могут выступать научные и научно-технические учреждения культуры и искусства, высшие учебные заведения культуры и искусства, а также временные творческие научные коллективы, определенные уполномоченным государственным органом в области культуры и искусства.</p>
        <p>1.8. Организации исполнители  и творческие коллективы, которым оказывается содействие и поддержка (в том числе и финансовое) на осуществление научной и научно-технической деятельности в сфере нематериального культурного наследия, обязаны использовать  строго по целевому назначению и по требованию уполномоченного государственного органа в области культуры и искусства Республики представлять необходимую информацию об их использовании, а также отчеты о выполненных работах.</p>
        <p>1.9. При выявлении нарушений принимаются меры по предотвращению или приостановке оказания содействия и поддержки (по возвращению в бюджет незаконно использованных средств, в случае выделения финансовых средств). Лица, которые допустили указанные нарушения, привлекаются к ответственности, в соответствии с законодательством.</p>
        <p></p>
        <br />
        <h6>2. Поддержка фундаментальных и поисковых исследований</h6>
        <p>2.1.  Организации исполнители и творческие коллективы предложения и заявки об оказании содействия и поддержки  по проведению исследований на планируемый год одновременно с необходимыми обоснованиями направляются в уполномоченный государственный орган в области культуры и искусства в соответствии с определенными приоритетными направлениями этих исследований.</p>
        <p>
            2.2. Предложения должны содержать:
            <ul>
                <li> проект плана (программы) проведения научно-исследовательских и искусствоведческих работ в соответствующей отрасли культуры;</li>
                <li>проекты планов проведения научных и научно-организационных и искусствоведческих мероприятий (семинаров, конференций и др.);</li>
                <li> проекты планов подготовки к изданию научной и научно-методической, искусствоведческой литературы;</li>
                <li>проект сметы расходов на проведение научных, искусствоведческих исследований.</li>
            </ul>
        </p>
        <p>
            2.3. Уполномоченный государственный орган в области культуры и искусства:
        <ul>
            <li>рассматривает внесенные предложения и включает их в сводную заявку на средства, необходимые для оказания поддержки  научной и научно-технической,  искусствоведческой деятельности;</li>
            <li>готовит предложения по установлению норматива объема поддержки фундаментальных и поисковых исследований на очередной год на научно-исследовательские, искусствоведческие работы;</li>
            </ul>    
        </p>
        <p>2.4. Экспертиза конкретных фундаментальных и поисковых исследований проводится в установленном порядке.</p>
        <br />
        <h6>3.	Поддержка отраслевых научно-технических, искусствоведческих программ и проектов</h6>
        <p>3.1.	Предложения о содействии и поддержке проведения научно-исследовательских и искусствоведческих работ отраслевого назначения вместе с утвержденными планами этих работ, необходимыми обоснованиями и экспертными заключениями направляются в уполномоченный государственный орган в области культуры и искусства для включения вышеназванных работ в сводную заявку на средства, требующиеся для поддержки научной и научно-технической, искусствоведческой деятельности.</p>
        <p>
            3.2.	 Уполномоченный государственный орган в области культуры и искусства организует экспертизу представленных проектов отраслевых программ важнейших искусствоведческих работ на предмет:
            <ul>
                <li>актуальности (соответствия целям, задачам и приоритетам);</li>
                <li> исключения дублирования и параллелизма разработок;</li>
                <li> соответствия сроков проведения работ и объемов их поддержки и т.п.</li>
            </ul>
            
        </p>

        <p>3.3. На основании заключения экспертизы уполномоченный государственный орган в области науки принимает решение о поддержке отраслевых научно-технических, искусствоведческих программ.</p>
        <br />
        <h6>4. Заключение государственных контрактов (договоров)</h6>
        <p>4.1. Условия и порядок поддержки по каждой программе или проекту определяется уполномоченным государственным органом. </p>
        <p>4.2. Уполномоченный государственный орган с организацией (исполнителем) работ заключает контракт (договор) на выполнение НИР по специальной форме, предусматривающей необходимые ассигнования на выполнение работ в соответствие с условиями контракта (договора).</p>
        <p>4.3. Неотъемлемой частью договора являются утверждаемое уполномоченным государственным органом техническое задание, календарный план-график выполнения работ и протокол согласования цены на создание результатов научно-технической и искусствоведческой работы.</p>
        <p>4.5. В случае несоблюдения организацией (исполнителем) договорных обязательств, уполномоченный государственный орган на основании представления заказывающего подразделения может принять решение о досрочном прекращении (приостановке) работ и финансировании.</p>
        <p>4.5. Внесение дополнений и изменений в договоры на выполнение работ осуществляется на основе дополнительных соглашений к договору.</p>




    </div>
    <div class="col-md-2"></div>
</div>
