
@{
    ViewData["Title"] = "Общественно-наблюдательный совет";
}


@*<div class="container ">
 
    <div class="row">
        <div class="card-deck">
            <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                <div class="card-img-overlay">
                    <h6 class="card-title">
                        ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                    </h6>
                    <h6 class="card-subtitle mb-2"> Об общественных советах государственных органов</h6>
                    <p class="card-text text-center">
                        <a href="~/docs/obshSovetRus.pdf" target="_blank">
                            <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;

                        </a>
                    </p>
                </div>
            </div>

            <div class="card text-white text-center bg-info mb-3" style="max-width: 30rem;">
                <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                <div class="card-img-overlay">
                    <h6 class="card-title">
                        КЫРГЫЗ РЕСПУБЛИКАСЫНЫН МЫЙЗАМЫ
                    </h6>
                    <h6 class="card-subtitle mb-2 text-white">  Мамлекеттик органдардын коомдук кеңештери жөнүндө</h6>
                    <p class="card-text">
                        <a href="~/docs/obshSovetKyrg.pdf" target="_blank">
                            <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;

                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h4>Общественно-наблюдательный совет</h4>
    </div>
    <div class="col-md-3"></div>
    <br /><br />
</div>
<br />
<table class="table">
    <tr>
        <td width="100"></td>
        <td>
            <a href="~/docs/obshSovetRus.pdf" target="_blank">
                <h6>
                    ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ  <br />
                    Об общественных советах государственных органов
                </h6>
               
            </a>
        </td>
    </tr>
    <tr>
        <td width="100"></td>
        <td>
            <a href="~/docs/obshSovetKyrg.pdf" target="_blank">
                <h6>
                    КЫРГЫЗ РЕСПУБЛИКАСЫНЫН МЫЙЗАМЫ  <br />
                    Мамлекеттик органдардын коомдук кеңештери жөнүндө
                </h6>
               
            </a>
        </td>
    </tr>
   
</table>
