
@{
    ViewData["Title"] = "PageIKN";
}


    <div class="container">
        <br><br>

        @if (ViewBag.Lang == 1)
        {

            <div class="row">
                <div class="col text-center">
                    <h3>ИСТОРИКО КУЛЬТУРНОЕ НАСЛЕДИЕ</h3>
                </div>
            </div>
            <br><br>

            <div class="card-deck  text-center">

                <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            ЗАКОН КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                        </h6>
                        <h6 class="card-subtitle mb-2"> Об охране и использовании историко-культурного наследия</h6>
                        <p class="card-text text-center">
                            <a href="~/docs/IKN/ZakonObIKN.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>

          
                <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            ПОСТАНОВЛЕНИЕ
                        </h6>
                        <h6 class="card-subtitle mb-2">
                            Об утверждении Положения об учете, охране,
                            реставрации и использовании объектов
                            ИКН
                        </h6>
                        <p class="card-text text-center">
                            <a href="~/docs/IKN/PostanObUtverj.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>

                 <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            ПОЛОЖЕНИЕ
                        </h6>
                        <h6 class="card-subtitle mb-2">
                            об учете, охране, реставрации и использовании
                            объектов историко-культурного наследия
                        </h6>
                        <p class="card-text text-center">
                            <a href="~/docs/IKN/PolojObUchete.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>

            </div>

            <div class="card-deck  text-center">

                <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                        </h6>
                        <h6 class="card-subtitle mb-2">
                            Об утверждении Концепции по охране и
                            использованию историко-культурного наследия
                            Кыргызской Республики на 2015-2020 годы
                        </h6>
                        <p class="card-text text-center">
                            <a href="~/docs/IKN/Konsepsia.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>


                <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            ПОСТАНОВЛЕНИЕ ПРАВИТЕЛЬСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
                        </h6>
                        <h6 class="card-subtitle mb-2">
                            Об утверждении Концепции по охране и
                            использованию историко-культурного наследия
                            Кыргызской Республики на 2015-2020 годы
                        </h6>
                        <p class="card-text text-center">
                            <a href="~/docs/IKN/Konsepsia.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>



            </div>
        }
        else
        {
            <div class="row">
                <div class="col text-center">
                    <h3 >Тарыхый-маданий мурастар</h3>
                </div>
            </div>
            <br><br>

            <div class="card-deck  text-center">

              
                <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            КЫРГЫЗ РЕСПУБЛИКАСЫНЫН МЫЙЗАМЫ
                        </h6>
                        <h6 class="card-subtitle mb-2"> Тарыхый-маданий мурастарды коргоо жана пайдалануу жөнүндө</h6>
                        <p class="card-text text-center">
                            <a href="~/docs/IKN/MyizamKRTMM.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>

                <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            КР тизмеси
                        </h6>
                        <h6 class="card-subtitle mb-2">
                            Республикалык маанидеги тарыхый жана маданий
                            эстеликтеринин мамлекеттик
                        </h6>
                        <p class="card-text text-center">
                            <a href="~/docs/IKN/TizmeTMM.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>
 
              
                <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h6 class="card-title">
                            ЖОБО
                        </h6>
                        <h6 class="card-subtitle mb-2">
                            Т-ММ обьекттерин эсепке
                            алуу, Коргоо, реставрациялоо жана пайдалануу
                            жөнүндө
                        </h6>
                        <p class="card-text text-center">
                            <a href="~/docs/IKN/TMMEsep.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>
 
            </div>
 
        }
    </div>
<br>
<br>