
@{
    ViewData["Title"] = "PhotoGalery";
}

<br />
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table-info">
            <tr class="text-right">
                <td>
                    <a class="dropdown-item text-primary" asp-controller="Home" asp-action="Gallery">
                        <h3>
                            Церемония открытие Перекрестного года Кыргызстана и России
                        </h3>
                    </a>
                </td>
            </tr>
          
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
