
@{
    ViewData["Title"] = "PriemCitizen";
}

<div class="container">
    <br><br>

    <div class="row">
        <div class="col text-center">
            <h3> Акты регламентирующие общественный прем граждан</h3>
        </div>
    </div>
    <br><br>

    <div class="card-deck  text-center">
        <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
            <img class="card-img" src="~/health/images/carduzor.png" alt="...">
            <div class="card-img-overlay">
                <h4 class="card-title">Жарандардын кайрылууларын кароо тартиби жөнүндө</h4>
                <p class="card-text text-center">
                    <a href="~/docs/citizen/jaran.pdf" target="_blank">
                        <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                    </a>
                </p>
            </div>
        </div>


        <div class="card-deck  text-center">
            <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                <div class="card-img-overlay">
                    <h4 class="card-title">О порядке рассмотрения обращений граждан</h4>
                    <p class="card-text text-center">
                        <a href="~/docs/citizen/poryadok.pdf" target="_blank">
                            <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                        </a>
                    </p>
                </div>
            </div>

            <div class="card-deck  text-center">
                <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                    <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                    <div class="card-img-overlay">
                        <h4 class="card-title">ПРИКАЗ Об утверждении Правил приема сообщения по «телефону доверия</h4>
                        <p class="card-text text-center">
                            <a href="~/docs/citizen/prikaz.pdf" target="_blank">
                                <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;
                            </a>
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <br>
    <br>
    </div>