
@{
    ViewData["Title"] = "RazvitieProfObraz";
}

<div class="container">
    <br><br>
    <div class="row">
        @if (ViewBag.Lang == 1)
        {

            <h3>Специфика культурно-досуговой деятельности учреждений театрально – зрелищного типа в Кыргызской Республике</h3>
            <p>
                На сегодняшний день в ведении Министерства культуры, информации и туризма Кыргызской Республики находятся 22 театрально-зрелищных учреждений, 8 музыкально - драматических театров, 7-драматических театров, 1 театр оперы и балета, 2 кукольных театра, 3 филармонии, 1 цирк.
            </p>
            <p>
                Основными видами деятельности театрально-зрелищных организаций являются:
                <ul>
                    <li> создание и показ театрально-зрелищных постановок, других произведений искусства на основной сцене (сценах), гастролях и выездах, организация фестивалей, конкурсов направленные на художественно-эстетическое воспитание зрителей, смотров, проведение творческих вечеров, реализация билетов на указанные мероприятия;</li>
                    <li> подготовка театрально-зрелищных постановок, концертов на основе договоров с юридическими и физическими лицами для показа на их собственных или арендованных ими сценических площадках, по телевидению, для трансляции по радио, съемок на кино-, видео- и иные материальные; </li>
                    <li> организация других мероприятий художественно-творческого характера, проводимых собственными силами или силами приглашенных коллективов, приглашенными исполнителями;</li>
                    <li>  предоставление организациям на основе договоров постановочных услуг, сценических постановочных средств для проведения спектаклей, концертов, представлений;</li>
                    <li> изготовление по заказам предметов художественного оформления театральных постановок, концертов, представлений; - предоставление своих сценических площадок другим театрально-зрелищным организациям для проведения гастрольных и выездных мероприятий, совместных проектов и программ;</li>
                    <li> подготовка, тиражирование и реализация информационно - справочных и рекламных материалов, копий видеоматериалов и фонограмм, связанных с художественно-творческой деятельностью организации.</li>
                </ul>
            </p>
            <p>
                Театрально-зрелищная организация самостоятельно планирует свою деятельность и определяет перспективы развития исходя из целей, предусмотренных её уставом, наличия собственных творческих и хозяйственных ресурсов и необходимости творческого - производственного и социального развития. Театрально-зрелищная организация самостоятельно устанавливает цены на билеты. Театрально-зрелищная организация самостоятельно устанавливает свой режим работы.
            </p>
            <p>
                Структура театрально-зрелищного учреждения – это совокупность специализированных подразделений, взаимодействующих процессе подготовки и показа спектаклей и других публичных представлений. Обычно в структуре театрально-зрелищной организации выделяют: творческий, технический, административно-педагогический составы. Организационной структурой театрально-зрелищного учреждения также является – система контрактов, заключаемых на постановку с актерами, режиссерами. Под внутренней средой театрально-зрелищного предприятия подразумеваются представители всех его структурных подразделений и служб – труппа, работники цехов, дирекции, режиссерского управления, билетеры и прочие служащие. Первая и самая тесная ступень – это круг общения автора театрально-зрелищного мероприятия, который состоит из создателей постановки – режиссера, художественного руководителя, сценографа, художника по свету, композитора, актеров.
            </p>
        }
        else
        {
            <h3>Кыргыз Республикасынын Театр оюн-зоок мекемелеринин маданий-агартуу ишмердүүлүктөрүнүн спецификалык мааниси</h3>
            <p>
                Бүгүнкү күндө Кыргыз Республикасынын Маданият, маалымат жана туризм министрлигине караштуу 22 театр оюн-зоок мекемелери чыгармачылык иш жүргүзөт. Анын ичинен 8 музыкалык-драма театры, 7 драма театры, 2 курчак театры, 3 филармония 1 опера жана балет театры жана мамлекеттик цирк эсептелет.
            </p>
            <p>Театр оюн-зоок мекемелеринин негизги чыгармачылык ишмердүүлүгүндө жаңы спектаклдерди сахналаштыруу, гастролдорго чыгуу, республикалык жана эл аралык фестивалдарды уюштуруу, ар кандай багытта сынактарды жүргүзүү, чыгармачылык кечелерди өткөрүп, аныкталган иш-чарага карата кассалык билеттерди реализациялоо, көрүүчүлөрдүн көркөм-эстетикалык табитин арттыруу, руханий байлыгын азыктандыруу болуп саналат; </p>
            <ul>
                <li>  көрүүчүлөргө карата театрлардын өздүк сахналарында же ижарага алынган сахналарда физикалык жана юридикалык жарандар менен түзүлгөн келишимдин негизинде жаңы чыгармаларды, концерттик программаларды көрсөтүү, телеберүүлөрдө радио уктурууларда, кино тасмаларда,  видео тартуулар ж.б. материалдык каражаттар аркылуу таркатуу; </li>
                <li>  көркөм-чыгармачылык мүнөздө өз алдынча даярдалган коомдук мекемелердин жана чакырылган коллективдердин, аткаруучулардын ишмердүүлүгү менен биргеликте иш-чараларды уюштуруу;</li>
                <li>  спектаклдерди, концерттик программаларды көрсөтүү үчүн мекемелер менен түзүлгөн келишимдин негизинде керектелүүчү каражаттар менен  камсыздоо, тийиштүү шарттарды түзүү;</li>
                <li>  театралдык көрсөтүүлөрдү , концерттик программаларды коюуда -өз сахналарын, сахналык аянтчаларын башка театралдык оюн-коюучу мекемелердин гастролго келүүсүндөгү иш-чараларына биргелешкен долбоордун негизинде көркөм-жасалгалык каражаттарын даярдоого көмөк көрсөтүү;</li>
                <li>  маалыматтык-жарнамалык материалдарды, видео материалдардын  жана фонограммалардын көчүрмөлөрүн тираждоо жана реализация кылууга даярдоо;</li>
            </ul>
            <p> Театр оюн-зоок мекемелери чыгармачыл ишмердүүлүктөрүн  өз алдынча пландаштырат жана келечекте уставда көрсөтүлгөн жекече чыгармачылык, чарбачылык ресурстарды, кырдаалга жараша  чыгармачылык-өндүрүштүк жана социалдык өнүктүрүү максатында иш жүргүзүүнү бөлүштүрөт. Театр оюн-зоок мекемелери билеттин бааларын өз алдынча коюууга жана жумуш күнүнүн эрежесин тактоого укуктуу.</p>
            <p> Театр оюн-зоок мекемелеринин структурасы спектаклдерди жана көрүүчүлөргө тартуулана турган маданий иш-чараларды даярдап көрсөтүүдө тыгыз байланышта иш алып бара турган атайын кесипкөй мекеме бөлүмдөрүнөн түзүлөт. Театр оюн-зоок мекемелеринин структурасы негизинен чыгармачылык, техникалык, административдик-педагогикалык топтон турат. Ошондой эле театр оюн-зоок мекемелери структурасында -спектаклдерди коюу үчүн актерлор, режиссерлор менен контрактык негизде келишим түзүү системасы да киргизилген. Анын ичинде бардык структуралык бөлүмдөр: кызматтары: труппа, цехтин жумушчулары, дирекция, режиссердук башкармалык ж.б.у.с. кызматчы-жумушчулар.</p>
            <p> Эң негизги тыгыз байланыш чыгарманын автору менен  театр оюн-зоок мекемелеринин: режиссер-коюучу, көркөм жетекчи, сценограф, жарык берүү боюнча сүрөтчү, музыкалык бөлүмдүн башчысы, актерлор алакада болуп, чыгарма коюу үстүндө баарлашуусу. </p>
        }
    </div>
</div>