
@{
    ViewData["Title"] = "Регламент";
}




@if (ViewBag.Lang == 1)
{

    <div class="col text-center">
        <h4 class="text-center">
            РЕГЛАМЕНТ<br />
            Министерства культуры, информации и туризма  Кыргызской Республики
        </h4>
    </div>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            1. Общие положения
        </h5>
    </div>
    <p>
        1.1. Порядок деятельности Министерства культуры, информации и туризма Кыргызской Республики (далее министерство) определяется положением о министерстве, другими нормативно-правовыми актами и настоящим регламентом.
    </p>
    <p>
        1.2. Решения задач, возложенных на Министерство, обеспечивается регулярно проводимыми заседаниями коллегии Министерства, постоянно действующих комиссий, оперативными совещаниями при министре, статс-секретаре и заместителях министра, руководителей структурных подразделений центрального аппарата, подведомственных и территориальных подразделений Министерства.
    </p>
    <p>
        1.3. Ответственность за своевременное исполнение принятых решений и поручений, качественную подготовку материалов, а также учет и сохранность документов в центральном аппарате, в подведомственных и территориальных подразделениях Министерства возлагается на руководителей подразделений Министерства.
    </p>
    <p>
        1.5. Контроль за соблюдением требований настоящего Регламента осуществляется службой документационного обеспечения и контроля исполнения.

    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            2. Система органов Министерства
        </h5>
    </div>
    <p>2.1. Единую систему Министерства составляют центральный аппарат, подведомственные подразделения и районные, городские отделы культуры  Министерства.</p>
    <p>
        2.2. В центральном аппарате Министерства действуют управления, отделы и секторы (далее - структурные подразделения) в соответствии со структурой центрального аппарата Министерства, утверждаемой министром.
    </p>
    <p>
        2.3. Структурные подразделения центрального аппарата а также районные и городские отделы культуры Министерства в своей деятельности руководствуются Положениями о них, утверждаемыми министром и другими правовыми актами Министерства.
        Подведомственные подразделения Министерства в своей деятельности руководствуются Положениями о них, утверждаемыми Правительством, а также правовыми актами Министерства.

    </p>
    <p>
        2.4. Работники структурных подразделений центрального аппарата и районных, городских отделов культуры Министерства осуществляют свои обязанности в соответствии с функциональными обязанностями, утверждаемыми министром.
    </p>
    <p>
        Работники подведомственных подразделений Министерства осуществляют свои обязанности в соответствии с функциональными обязанностями, утверждаемыми руководителями подведомственных подразделений Министерства.
    </p>
    <p>
        2.5. При выполнении возложенных на структурные подразделения центрального аппарата, подведомственные подразделения и районные,  городские отделы культуры Министерства задач и функций, работники должны согласовывать подготовленные предложения с работниками других подразделений, если в них затрагиваются вопросы, относящиеся к их компетенции.
    </p>

    <br />
    <div class="col text-center">
        <h5 class="text-center">
            3. Планирование и организация работы Министерства
        </h5>
    </div>
    <p>
        3.1. Планирование работы Министерства является одним из основных средств организационного обеспечения выполнения задач, возложенных на Министерство.
    </p>
    <p>
        Министерство в соответствии с нормативными правовыми актами и поручениями вышестоящих государственных органов организует свою деятельность в соответствии с Планом работ на календарный год.
    </p>
    <p>
        3.2. План работы Министерства составляется исходя из мер предусмотренные в  стратегических документах Правительства Кыргызской Республики  и  Министерства, на основе предложений структурных подразделений центрального аппарата, подведомственных подразделений и районных, городских отделов культуры Министерства, которые согласовываются со статс-секретарем и заместителями министра, курирующими соответствующие направления деятельности, не позднее 30 декабря соответствующего года, и представляются отделу государственной политики и стратегического планирования.
    </p>
    <p>
        3.3. Отдел государственной политики и стратегического планирования обобщает полученные предложения, составляет проект годового Плана работы и вносит его на рассмотрение коллегии. После одобрения на коллегии План работы утверждается приказом министра.
    </p>
    <p>
        3.4. Контроль за выполнением Плана работы осуществляется министром, статс-секретарем, заместителями министра в соответствии с распределением их обязанностей.
    </p>

    <p>
        3.5. Руководители подведомственных подразделений и районных,  городских отделов культуры Министерства на основе Плана работы Министерства, а также на основе анализа положения дел и особенностей региона, до 10 января соответствующего года представляют в курирующие структурные подразделения Министерства утвержденные планы работ на год.
    </p>
    <p>
        3.6. В случаях, когда вопросы, предусмотренные в Плане работ, не могут быть выполнены в установленный срок по объективным причинам, руководители структурных подразделений центрального аппарата, а также подведомственных подразделений и районных, городских отделов культуры Министерства с согласия статс-секретаря или заместителей министра по курируемым вопросам, в письменной форме (докладная записка) информируют об этом министра, который вправе установить дополнительный срок для исполнения, либо снять вопрос из Плана работы с рассмотрением ответственности лиц, не исполнивших План работы.
    </p>
    <p>
        3.7. Мониторинг выполнения планов работ возлагается на заведующего Отделом государственной политики и стратегического планирования, который раз в месяц информирует министра о ходе выполнения планов работ.
    </p>
    <p>
        3.8. Вопросы планов работ, рассмотренные на коллегии с принятием решения, считаются снятыми с контроля. В остальных случаях, вопросы планов работ снимаются с контроля министром по докладной записке работника, ответственного за исполнение, согласованной со статс-секретарем или заместителем министра, курирующим соответствующее направление деятельности.
    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            4. Порядок внесения вопросов, подготовки и проведения коллегии Министерства
        </h5>
    </div>
    <p>
        4.1. Деятельность коллегии Министерства организуется в соответствии с годовым Планом работы коллегии.
    </p>
    <p>
        4.2. Вопросы для внесения в План работы коллегии вносятся министром, статс-секретарем, заместителями министра, членами коллегии, руководителями структурных подразделений центрального аппарата, подведомственных подразделений и районных,  городских отделов культуры Министерства заведующему отделом государственной политики и стратегического планирования.
    </p>
    <p>
        Заведующий Отделом государственной политики и стратегического планирования обобщает полученные предложения, составляет проект годового Плана работы коллегии и вносит его на рассмотрение коллегии.
    </p>
    <p>
        4.3. План работы коллегии после рассмотрения и одобрения на заседании коллегии, утверждается министром и рассылается ответственным лицам по исполнению плана.
    </p>
    <p>
        4.4. Подготовку вопросов на коллегию осуществляют структурные подразделения центрального аппарата Министерства в соответствии с установленной компетенцией. В случаях, если подготавливаемый вопрос затрагивает компетенцию разных подразделений, то подготовку вопроса осуществляет образуемые министром комиссии.
    </p>
    <p>
        4.5. По внесенному на рассмотрение коллегии вопросу подготавливаются проекты постановления решения  коллегии. Проекты решений должны быть четкими, содержать исчерпывающую и принципиальную оценку обсуждаемого вопроса, ясно формулировать цель и задачи принимаемого акта, определять исполнителей и реальные сроки исполнения.
    </p>
    <p>
        Проект решения и приложенные справки должны быть завизированы работником, готовившим проект, руководителем структурного подразделения центрального аппарата Министерства, в котором работает сотрудник, подготовивший вопрос, статс-секретарем или заместителем министра по курируемым вопросам.
    </p>
    <p>
        Объем справки к проекту решения не должен превышать 5 страниц. Справки печатаются на компьютере 14 шрифтом. К проекту кроме справки могут быть приложены и другие материалы.
    </p>
    <p>
        Если проект решения содержит поручения другим структурным подразделениям центрального аппарата Министерства, то он должен быть с ними согласован и завизирован их руководителями.
    </p>
    <p>
        4.6. Проекты решений коллегии с материалами и визами, сдаются заведующему Отделом государственной политики и стратегического планирования министра не позднее 10 дней до заседания коллегии.
    </p>
    <p>
        4.7. Проекты решений коллегии, внесенные без соблюдения указанных в настоящем разделе требований, подлежат возвращению для надлежащего оформления.
    </p>
    <p>
        4.8. В случаях, если намеченный вопрос по объективным причинам не может быть своевременно внесен на рассмотрение коллегии, статс-секретарь, заместители министра, руководители районных и городских отделов культуры и структурных подразделений центрального аппарата Министерства письменно (докладная записка) информируют об этом министра.
    </p>
    <p>
        Исключение вопросов из планов работы коллегии или изменение сроков их рассмотрения допускается по решению министра.
    </p>
    <p>
        4.9. Для внесения вопроса на рассмотрение коллегии заведующим Отделом государственной политики и стратегического планирования представляется справка на имя министра, в которой указываются:
        <ul>
            <li>название вопроса;</li>
            <li>фамилия, инициалы и должность докладчика;</li>
            <li>список лиц, приглашенных на заседание коллегии по обсуждаемому вопросу, с указанием должностей.</li>
        </ul>
    </p>
    <p>
        4.10. По отдельным не терпящим отлагательства вопросам проекты решений коллегии могут представляться для рассмотрения на заседании коллегии (рабочий порядок), после согласования и визирования всеми членами коллегии.
    </p>
    <p>
        4.11. Созыв заседаний коллегии осуществляется министром, а в его отсутствие заместителем министра, исполняющим обязанности министра, который председательствует на заседании коллегии (далее - председательствующий).
    </p>
    <p>
        4.12. Заседания коллегии проводятся по мере необходимости, но не реже одного раза в квартал.
    </p>
    <p>
        4.13. В необходимых случаях могут проводиться расширенные заседания коллегии с участием работников системы Министерства, выездные заседания для рассмотрения и решения в оперативном порядке вопросов на местах, а также совместные заседания с коллегиями других министерств и ведомств, когда совместное рассмотрение вопросов вызывается интересами этих министерств и ведомств, на которых принимаются совместные решения по обсужденным вопросам.
    </p>
    <p>
        4.14. Предложения по проекту повестки дня заседания коллегии направляются заведующему Отделом государственной политики и стратегического планирования предварительно.
    </p>
    <p>
        4.15. В проект повестки дня включаются:
        - вопросы из годовых планов работ коллегии;
        - вопросы, включение которых вызывается возникшей необходимостью.
    </p>
    <p>
        4.16. Проекты повестки дня согласовываются с председательствующим.
        После согласования дополнительные вопросы могут быть внесены на данное заседание только с разрешения председательствующего.
    </p>
    <p>
        4.17. Повестка дня и материалы заседания коллегии заведующим Отделом государственной политики и стратегического планирования вносятся председательствующему и членам коллегии за три дня до начала заседания.
    </p>
    <p>
        В случае внесения изменений в повестку дня коллегии, материалы заседания коллегии дополнительно вносятся председательствующему и членам коллегии за 1 день до начала заседания.
    </p>
    <p>
        4.18. Оповещение приглашенных лиц о времени заседания коллегии возлагается на службу документационного обеспечения и контроля исполнения.
    </p>
    <p>
        4.19. Заседания коллегии являются правомочными, если на них присутствуют более половины состава членов коллегии.
    </p>
    <p>
        4.20. Повестка дня заседания и порядок работы утверждаются членами коллегии в начале заседания.
    </p>
    <p>
        4.21. В процессе обсуждения вопросов на заседаниях коллегии министр, статс-секретарь, заместители министра и члены коллегии имеют право:
        - вносить предложения по повестке дня и порядку работы;
        - требовать от докладчиков разъяснения по рассматриваемым вопросам.
        Присутствующие на заседании коллегии вправе:
        - участвовать в обсуждении вопросов;
        - вносить предложения об изменениях и дополнениях в проекты постановлений или об их доработке;
        - вносить предложения о переносе обсуждения вопроса на другое заседание коллегии или о дополнительном изучении вопроса.
    </p>
    <p>
        4.22. Решение коллегии принимаются большинством голосов присутствующих членов коллегии. В случае равенства голосов принимается решение, за которое голосовал председательствующий.
    </p>
    <p>
        4.23. В случае разногласий между министром и членами коллегии, министр доводит свое решение, докладывая о возникших разногласиях.
    </p>
    <p>
        4.24. Проекты решения, в ходе обсуждения которых на заседаниях коллегии были внесены замечания и предложения, дорабатываются исполнителем в соответствии с принятым решением.
    </p>
    <p>
        4.25. Решение коллегии подписываются председательствующим и членами коллегии, участвующими на заседании.
    </p>
    <p>
        4.26. На заседании коллегии ведется протокол заседания, в котором указываются лица, участвовавшие на заседании, повестка дня заседания, обсужденные вопросы, содержание выступлений, принятое решение.
        Протокол заседания коллегии подписывается секретарем заседания и председательствующим.
    </p>
    <p>
        4.27. На материалы каждого заседания коллегии заводится отдельное дело, с регистрацией в отдельном журнале и присвоением порядкового номера с начала до конца года. Материалы коллегии хранятся в службе документационного обеспечения и контроля исполнения.
    </p>
    <p>
        4.28. Ответственность за своевременную и качественную подготовку вопросов повестки дня коллегии несет работник готовящий вопрос на коллегию.
    </p>
    <p>
        4.29. Контроль за выполнением планов работ и решений коллегии осуществляет заведующим Отделом государственной политики и стратегического планирования, который по истечении года на очередном заседании коллегии Министерства информирует членов коллегии о выполнении Плана работы коллегии за истекший период.
    </p>

    <br />
    <div class="col text-center">
        <h5 class="text-center">
            5. Порядок проведения оперативных совещаний
        </h5>
    </div>
    <p>
        5.1. В целях осуществления контроля за исполнением решений Президента, Правительства, Жогорку Кенеша, Премьер-министра, Вице-премьер-министра, других вышестоящих должностных лиц, собственных решений, а также плановых мероприятий, не требующих обсуждения на заседании коллегии, проводятся совещания при министре, статс-секретаре и заместителях министра, в рамках распределения их обязанностей.
    </p>
    <p>
        5.2. Протоколы оперативных совещаний при министре ведутся работником службы документационного обеспечения и контроля исполнения, а при статс-секретаре и заместителях министра по их поручению работниками центрального аппарата Министерства. В протоколе отражается дата, время и место проведения совещания, состав участников, обсуждаемые вопросы, фамилия и должность председателя совещания. По каждому рассмотренному вопросу в протоколе указываются выступившие и принятое решение, с определением ответственного за исполнение и срока реализации.
    </p>
    <p>
        Протокол подписывается работником, составившим протокол, и председателем совещания.
    </p>
    <p>
        5.3. Решения, принятые на совещаниях, проведенных министром, статс-секретарем или заместителями министра, передаются в отдел государственной политики и стратегического планирования для организации работы по выполнению принятых решений и контроля.
    </p>
    <p>
        5.4. Руководители подразделений Министерства проводят совещания по вопросам соблюдения исполнительской дисциплины, выполнения планов работ и поручений руководства, обмена опытом работы.
    </p>
    <p>
        5.5. Общий контроль за реализацией решений совещаний осуществляется руководителями подразделений Министерства.
    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            6. Порядок проведения семинарских занятий, стажировок
        </h5>
    </div>
    <p>
        6.1. В целях повышения деловой квалификации и профессионального уровня, а также обмена опытом работы проводятся семинарские занятия с работниками структурных подразделений центрального аппарата, подведомственных подразделений и районных, городских отделов культуры Министерства.
    </p>
    <p>
        6.2. Ответственность за выполнение запланированных мероприятий и качество проведения семинарских занятий возлагается на руководителей структурных подразделений центрального аппарата, подведомственных подразделений и районных и городских отделов культуры Министерства и на отдел организационно-правовой работы и управления человеческими ресурсами.
    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            7. Организация работы постоянно действующих комиссий
        </h5>
    </div>
    <p>
        7.1. В целях реализации управленческой деятельности могут образовываться постоянно действующие комиссии Министерства.
    </p>
    <p>
        7.2. Задачи, функции, права и ответственность постоянно действующих комиссий определяются в утвержденных министром Положениях об этих комиссиях, либо соответствующими нормативными правовыми актами.
    </p>
    <p>
        7.3. Организация деятельности постоянно действующих комиссий осуществляется статс-секретарем и заместителями министра, согласно распределенным обязанностям.
    </p>
    <p>
        7.4. На заседаниях постоянно действующих комиссий ведется протокол, который подписывается всеми членами комиссии.
    </p>
    <p>
        Протоколы постоянно действующих комиссий оформляются на государственном языке и в случаях, предусмотренных законодательством, переводятся на официальный язык.
    </p>
    <p>
        7.5. Заседания постоянно действующих комиссий проводятся при наличии большинства членов утвержденного состава комиссий, если иное не предусмотрено нормативными правовыми актами. При равенстве голосов, голос председателя имеет решающее значение.
    </p>
    <p>
        7.6. Выписки из протокола заседаний постоянно действующих комиссий с решениями, рекомендациями и другими материалами могут быть направлены заинтересованным лицам.
    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            8. Правовые акты Министерства. Порядок их подготовки
        </h5>
    </div>
    <p>
        8.1. Министерство вправе, в переделах определенной компетенции, принимать приказы.
        Приказ Министерства - правовой документ по реализации функций управления.
    </p>
    <p>
        8.2. Приказы обязательны для исполнения всеми подразделениями Министерства.
    </p>
    <p>
        8.3. В отсутствие министра право подписи на приказах предоставляется статс-секретарю или на одного из заместителей министра, на которого приказом министра возлагается исполнение обязанностей министра.
    </p>
    <p>
        8.4. Приказы бывают организационные, для выполнения функций управления, а также по вопросам кадров.
    </p>
    <p>
        8.5. Подготовка и согласование приказов осуществляется структурными подразделениями центрального аппарата Министерства по соответствующему направлению деятельности.
    </p>
    <p>
        Проекты приказов подлежат согласованию со статс-секретарем, заместителями министра, руководителями подразделений Министерства по соответствующему направлению деятельности.
    </p>
    <p>
        8.6. Проекты приказов готовятся:
        - по указанию министра;
        - по инициативе статс-секретаря и заместителей министра;
        - по инициативе руководителей структурных подразделений центрального аппарата Министерства.
    </p>
    <p>
        8.7. В приказе указываются исполнители с указанием фамилии и должности, а также, в случае необходимости, лицо, на которое возлагается контроль.
    </p>
    <p>
        8.8. Срок исполнения обозначается конкретной датой.
    </p>
    <p>
        8.9. В случае необходимости отмены, признания утратившими силу ранее принятых приказов, указывается наименование приказа, дата, номер или его отдельный пункт, подлежащий отмене, признанию утратившим силу.
    </p>
    <p>
        8.10. В случаях, когда приказом утверждаются самостоятельные документы (положения, инструкции, планы, составы комиссий и др.), данные документы приобщаются к приказу и указываются в тексте как прилагаемые.
    </p>
    <p>
        8.11. В тексте приказа и приложения применяются только общепринятые сокращения, аббревиатуры названий учреждений, ассоциаций, фирм и т.п. расшифровываются. Сокращения могут употребляться при дублировании текста.
    </p>
    <p>
        8.12. Ответственность за содержание и качество приказов возлагается на руководителей подразделений Министерства, вносящих проект.
    </p>
    <p>
        8.13 Министерство в переделах определенной компетенции разрабатывает проекты постановления, проекты распоряжения, проекты законов Кыргызской Республики.
    </p>
    <p>
        Проекты нормативно-правовых актов разрабатываются работниками центрального аппарата и подведомственных подразделений по курируемым направлениям.
    </p>
    <p>
        Проекты нормативно-правовых актов работниками, готовившими проекты вносятся юристам Министерства для дачи юридического заключения.
        Порядок  рассмотрения и согласования проектов нормативно-правовых актов составляет 3 рабочих дня.
    </p>
    <p>
        8.14. Правовые акты Министерства должны быть оформлены в соответствии с требованиями Типовой инструкции по делопроизводству в Кыргызской Республике, утвержденной постановлением Правительства от 23 июля 2012 года № 517.
    </p>
    <p>
        8.15. Проект должен быть согласован с должностными лицами, имеющими непосредственное отношение к вопросам, содержащимся в проекте приказа.
    </p>
    <p>
        8.16. Срок согласования проекта не должен превышать одного дня, замечания по проекту, несогласие с редакцией или содержанием либо иная форма решения вопроса отражается в справке.
    </p>
    <p>
        8.17. Правовые акты Министерства принимаются на государственном языке и в случаях, предусмотренных законодательством, переводятся на официальный язык.
        После подписания приказа министром, он передается в службу документационного обеспечения и контроля исполнения, где ему присваивается номер и дата.
    </p>
    <p>
        8.18. Обеспечение размножения, рассылка приказов возлагается на службу документационного обеспечения и контроля исполнения.
        Статс-секретарь, заместители министра должны быть ознакомлены с приказами, касающимися сферы их курирования.
    </p>
    <p>
        8.19. В целях регламентирования деятельности Министерства, в пределах компетенции, также могут издаваться иные акты Министерства.
    </p>
    <p>
        8.20. Делопроизводство Министерства осуществляется на государственном языке, а в случаях, предусмотренных законодательством, на официальном языке. При ведении делопроизводства в Министерстве на государственном и официальном языках, документы на государственном языке считаются оригиналом.
    </p>

    <br />
    <div class="col text-center">
        <h5 class="text-center">
            9. Организация контроля и проверки исполнения правовых актов Министерства
        </h5>
    </div>
    <p>
        9.1. Организация контроля за исполнением приказов и других документов Министерства должна обеспечивать их своевременное и качественное исполнение.
    </p>
    <p>
        Действие по контролю за исполнением включает в себя непосредственную проверку, а также регулирование хода выполнения контролируемых документов в установленный срок.
    </p>
    <p>
        9.2. В ходе практической реализации приказов и иных документов, касающихся деятельности подразделений Министерства, контроль за сроками и фактическим выполнением их осуществляется службу документационного обеспечения и контроля исполнения.
    </p>
    <p>
        9.3. Специалисты службы документационного обеспечения и контроля исполнения:
        - обеспечивают необходимую информационную базу с использованием современных технических средств по всем распорядительным документам, поставленным на контроль, и направляют исполнителям уведомления установленной формы со сроками исполнения;
        - получают от исполнителей информацию о состоянии исполнения заданий;
        - направляют исполнителям каждую понедельник недели предупредительную информацию;
        - вносят на рассмотрение руководства Министерства предложения по совершенствованию организации контроля распорядительных документов.

    </p>
    <p>
        9.4. Служба документационного обеспечения и контроля исполнения осуществляет на местах выборочные проверки фактического выполнения приказов и других документов, по результатам которых представляет информацию министру.
    </p>
    <p>
        9.5. По итогам проверок каждый квартал, полугодие и год готовится обобщенная информация о состоянии выполнения приказов и иных актов министра.
        Информация представляется министру и доводится до исполнителей.

    </p>
    <p>
        9.6. В случае невозможности исполнения отдельных заданий в установленные сроки исполнители до истечения срока должны получить согласие на перенос срока или иное решение у министра.
    </p>
    <p>
        9.7. Исполнение приказа или иного документа, подтвержденные исполнителями справкой, информацией, снимаются с контроля.
    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            10. Организация контроля исполнения документов
        </h5>
    </div>
    <p>
        10.1. Обязательному контролю подлежат документы, поступившие из Аппарата Президента, Аппарата Правительства, Жогорку Кенеша, а также письма граждан.
    </p>
    <p>
        10.2. Сроки исполнения документов, поступившие из других органов, исчисляются в рабочих днях с даты их регистрации в Министерстве.
    </p>
    <p>
        Поступившие на исполнение Министерства поручения из Аппарата Президента, Аппарата Правительства, Жогорку Кенеша, письма граждан, а также на согласование проекты нормативных правовых актов рассматриваются в сроки, установленные Законом "О порядке рассмотрения обращений граждан" и Регламентом Правительства, утвержденным постановлением Правительства от 10 июня 2013 года № 341.
    </p>
    <p>
        10.3. Исполненный документ снимается с контроля в службе документационного обеспечения и контроля исполнения на основании подписи руководства Министерства.
    </p>
    <p>
        10.4. По результатам исполнения контрольных документов служба документационного обеспечения и контроля исполнения ежемесячно представляет информацию министру, статс-секретарю, заместителям министра.
    </p>
    <p>
        10.5. Отчеты о результатах исполнительской дисциплины в отношении работы с документами заслушиваются на аппаратных совещаниях Министерства.
    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            11. Порядок обеспечения доступа к информации о деятельности Министерства
        </h5>
    </div>
    <p>
        11.1. Доступ граждан и юридических лиц к информации о деятельности Министерства обеспечивается путем размещения соответствующей информации в информационных системах общего пользования, в том числе, на официальном Web-сайте Министерства (www.minculture.gov.kg).
    </p>
    <p>
        11.2. Сведения о деятельности Министерства для размещения на официальном Web-сайте готовятся соответствующим структурным подразделением центрального аппарата, подведомственным и территориальным подразделениями Министерства.
    </p>
    <p>
        11.3. Систематическое информирование граждан и организаций о деятельности Министерства путем издания справочных и аналитических материалов, публикаций в средствах массовой информации и иными способами осуществляется в соответствии с законодательством.
    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            12. Порядок приема граждан
        </h5>
    </div>
    <p>
        12.1. В целях наиболее эффективного осуществления защиты прав и свобод человека и гражданина, и для оперативного разрешения обращений граждан в пределах компетенции, Министерством осуществляется личный прием граждан.
    </p>
    <p>
        12.2. Прием граждан проводится один раз в неделю в течение рабочего дня: руководителями структурных подразделений центрального аппарата Министерства - в пятницу, статс-секретарем – в четверг, одним из заместителей министра – во вторник, другим заместителем министра - в среду, министром - в пятницу. Прием граждан из других населенных пунктов проводится в день их посещения.
    </p>
    <p>
        График приема граждан опубликовывается на официальном Web-сайте Министерства (www.minculture.gov.kg) и размещается на стенде в общедоступном месте здания Министерства.
    </p>
    <p>
        12.3. В тех случаях, когда решение вопроса во время приема не представляется возможным, ответ на вопросы заявителя сообщается в письменной форме или посредством электронной связи, в соответствии с Законом "О порядке рассмотрения обращений граждан".
    </p>
    <p>
        12.4. Организацию приема граждан, обращающихся в адрес министра, обеспечивает помощник и секретарь министра, а организацию приема граждан, обращающихся в адрес статс-секретаря и заместителей министра - их секретари.
    </p>
    <p>
        12.5. Руководитель, ведущий прием, несет персональную ответственность за принятие решений по рассматриваемым обращениям.
    </p>
    <p>
        12.6. Журнал личного приема находится у секретаря руководителей и у руководителей структурных подразделений центрального аппарата Министерства, в котором ведется запись о данных обратившегося, содержание обращения и принятое решение.
    </p>
    <p>
        12.7. Помощник министра анализирует характер и содержание устных обращений граждан, готовит заключения (обзоры) и предложения по совершенствованию организации устного приема в Министерстве.
    </p>
    <p>
        12.8. Контроль за исполнением решений, принятых по обращениям, осуществляется службой документационного обеспечения и контроля исполнения, помощником министра, секретарями статс-секретаря и заместителей министра.
    </p>
    <br />
    <div class="col text-center">
        <h5 class="text-center">
            13. Распорядок дня
        </h5>
    </div>
    <p>
        13.1. Время начала и окончания работы и перерыва для отдыха сотрудников Министерства установлено следующим образом:
        начало работы - 9.00; перерыв для отдыха и питания - 12.30-13.30;
        окончание работы - 18.00. В предпраздничные дни - 17.00;

    </p>
    <p>
        Организация контроля за временем прихода на работу и ухода с работы сотрудников центрального аппарата Министерства осуществляется отделом организационно-правовой работы и управления человеческими ресурсами и руководителями структурных подразделений центрального аппарата.
    </p>
    <p>
        Организация контроля за временем прихода на работу и ухода с работы сотрудников подведомственных и территориальных подразделений Министерства осуществляется их руководителями.
    </p>
    <p>
        13.2. Работники центрального аппарата Министерства могут отсутствовать на рабочем месте по служебным делам только с разрешения курируемого руководителя Министерства и начальника структурного подразделения центрального аппарата.
    </p>
    <p>
        Руководители структурных подразделений центрального аппарата Министерства могут отсутствовать на рабочем месте по служебным делам только с разрешения курируемого руководителя Министерства с отметкой в журнале, находящегося в отделе организационно - правовой работы и управления человеческими ресурсами.
    </p>
    <p>
        13.3. Сотрудники подведомственных подразделений, учреждений и районных, городских отделов культуры Министерства могут отсутствовать по служебным делам с разрешения их руководителей.
    </p>
    <p>
        Руководители подведомственных подразделений, учреждений и районных, городских отделов культуры должны ставить в известность о причинах отсутствия на рабочем месте министра или исполняющего обязанности министра.



    </p>
    <p>

    </p>
    <p>

    </p>
    <p>

    </p>
    <p>

    </p>
    <p>

    </p>


    <br />

}
else
{
    @*<div class="row">
            <div class="col text-center">
                <div class="section_title">Министерства башкармасынын тузуму</div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-12">
                <img alt="" src="~/docs/structure/structKyrg.png" style="height:606px; width:1120px">
            </div>
        </div>*@
}
        </div>
