
@{
    ViewData["Title"] = "ПЕРЕЧЕНЬ ПРЕДСТАВИТЕЛЕЙ РЕМЕСЛЕННОГО СЕКТОРА ПО НАПРАВЛЕНИЯМ";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">ПЕРЕЧЕНЬ ПРЕДСТАВИТЕЛЕЙ РЕМЕСЛЕННОГО СЕКТОРА ПО НАПРАВЛЕНИЯМ</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h6>Кыргызстан, Жалал-Абадская область г. Жалал-Абад</h6>
        <p>
            <ul>
                <li>Ковроткачество-безворсовые ковры;</li>
                <li>войлок;</li>
                <li>вязание крючком;</li>
                <li>Изделия для убранство юрты;</li>
                <li>изделия сделанные в лоскутной технике и вышивка- панно,одеяло, скатерти,наволочки,сумки;</li>
                <li>ткачество;</li>
                <li>ручное плетение;</li>
                <li>кисточки;</li>
            </ul>
        </p>
        <h6>Кыргызстан, Жалал-Абадская область с. Кызыл-Туу</h6>
        <ul>
            <li>Ковроткачество-безворсовые ковры;</li>
            <li>Изделия сделанные в лоскутной технике и вышивка- панно, тошоки, одеяло,наволочки,;</li>
            <li>войлочные ковры-шырдак,ала-кииз;</li>
            <li>войлок.</li>
        </ul>
        <h6>Кыргызстан, Жалал-Абадская область с. Кызыл-Жар</h6>
        <ul>
            <li>Ковроткачество-безворсовые ковры;</li>
            <li>Изделия сделанные в лоскутной технике и вышивка- панно, тошоки, одеяло,наволочки,;</li>
            <li>войлочные ковры-шырдак,ала-кииз;</li>
            <li>шитье традиц. одежды;</li>
            <li>головной убор "Чалма";</li>
            <li>плетение сетки.</li>
        </ul>
        <h6>Кыргызстан, Жалал-Абадская область с. Жаны-Базар</h6>
        <ul>
            <li>Войлочный ковер-шырдак, ала-кииз;</li>
            <li>изделия сделанные в технике вышивка;</li>
        </ul>
        <h6>Кыргызстан, Жалал-Абадская область с. Айгыр-Жал</h6>
        <ul>
            <li>Плетение плетки;</li>
            <li>обработка кожи-седло;</li>
            <li>остов юрты;</li>
            <li>Войлочный ковер - шырдак, ала-кииз;</li>
            <li>Изделия сделанные в лоскутной технике и вышивка- панно,покрывал,скатерти, наволочки, салфетки;</li>
        </ul>
        <h6>Кыргызстан, Иссык-Кульская область с. Тамчы</h6>
        <ul>
            <li>Выделка шкур ;</li>
            <li>Войлочные ковры-шырдак,ала-кииз;</li>
            <li>Изделия в технике вышивка -настенное панно "туш-кииз";</li>
            <li>Изделия в лоскутной технике- настенное панно, наволочки,тошоки;</li>
            <li>Войлочные сидушки, сумки, тапочки полой формы;</li>
            <li>сувениры;</li>
            <li>натуральное крашение;</li>
        </ul>
        <h6>Кыргызстан, Иссык-Кульская область с. Тюп</h6>
        <ul>
            <li>войлок;</li>
            <li>изделия полой формы: сидушки, шапки,тапочки,валенки;</li>
            <li>резьба по дереву: сундуки;</li>
            <li>сувениры.</li>
        </ul>
        <h6>Кыргызстан, Иссык-Кульская область с. Зындан</h6>
        <ul>
            <li>производство войлока;</li>
            <li>войлочный ковер-шырдак;</li>
            <li>вышивка-настенное панно " Туш-кииз", наволочки,тошоки;</li>
            <li>Наволочки в лоскутной технике "курак";</li>
            <li>Традиц. мужской головной убор "Калпак";</li>
            <li>Изделия из кожи и метала- конское снаряжение;</li>
        </ul>
        <h6>Кыргызстан, Иссык-Кульская область с. Барскон</h6>
        <ul>
            <li>Юрта;</li>
            <li>войлок.</li>
        </ul>
        <h6>Кыргызстан, Иссык-Кульская область с. Кызыл-Туу</h6>
        <ul>
            <li>Юрта;</li>
            <li>войлок;</li>
            <li>изделия для убранство юрты;</li>
            <li>сувениры.</li>
        </ul>
        <h6>Кыргызстан, Таласская область с. Шекер</h6>
        <ul>
            <li>Войлочные ковры- ала кийиз, шырдак;</li>
            <li>сувениры из войлока;</li>
            <li>Приданное для невесты: изделия сделанные в лоскутной технике "Курак"и вышивка;</li>
            <li>Тканные покрывало для лошади;</li>
            <li>Вязанные изделия;</li>
        </ul>
        <h6>Кыргызстан, Ошская область с. Кыргыз-Ата</h6>
        <ul>
            <li>войлочные изделия: головной уборы, панно;</li>
            <li>сувениры;</li>
        </ul>
        <h6>Кыргызстан, Нарынская область с. Ат-Башы</h6>
        <ul>
            <li>Войлочные ковры- шырдаки, ала-киизы;</li>
            <li>Изделия из войлока - сидушки, сумки,сувениры; li>изготовление войлока;</li>
        </ul>
        <h6>Кыргызстан, Нарынская область с. Ача-Каинды</h6>
        <ul>
            <li>Войлочный ковер - Шырдак, ала-кииз;</li>
            <li>Войлочные изделия -пуфики, сидушки,подушки ;</li>
        </ul>
        <h6>Кыргызстан, Нарынская область с. Кара-Суу</h6>
        <ul>
            <li>войлок;</li>
            <li>войлочный ковер - шырдак;</li>
            <li>сувениры из войлока.</li>
        </ul>
        <h6>Кыргызстан, Нарынская область с. Кум-Добо</h6>
        <ul>
            <li>Войлок;</li>
            <li>Войлочный ковер-шырдак;</li>
            <li>ткачество;</li>
            <li>чий.</li>
        </ul>
        <h6>Кыргызстан, Иссык-Кульская область с. Боконбаево</h6>
        <ul>
            <li>войлочные ковры-шырдак, ала-кийиз</li>
            <li>пуфики</li>
            <li>сидушки;</li>
            <li>убранство для юрты;</li>
            <li>аксессуары; сувениры;</li>
            <li>игрушки.</li>
        </ul>
        <h6>
            Кыргызстан, Нарынская область с. Жан-Булак
        </h6>
        <ul>
            <li>войлочный ковер - шырдак;</li>
            <li>изделия в лоскутной технике "курак"- панно,наволочки,покрывало,сидушки;</li>
            <li>ткачество;</li>
            <li>войлок;</li>
        </ul>
        <h6>Кыргызстан, Чуйская область с. Новопавловка</h6>
        <ul>
            <li>Жилеты;</li>
            <li>шапки;</li>
            <li>сумки;</li>
            <li>игрушки из войлока.</li>
        </ul>
        <h6>Кыргызстан, Чуйская область с. Кожомкул</h6>
        <ul>
            <li>Войлок;</li>
            <li>шырдак;</li>
            <li>приданное для невесты;</li>
            <li>конское снаряжение;</li>
            <li>Вышивка;</li>
            <li>ала- кийиз;</li>
            <li>выделка шкур;</li>
        </ul>
        <h6>Кыргызстан, Чуйская область г. Кара-Балта</h6>
        <ul>
            <li>интерьерная продукция-ковры таар;</li>
            <li>кажары;</li>
            <li>ленты- терме;</li>
            <li>тканные сумки;</li>
            <li>куржуны;</li>
            <li>тесемки;</li>
            <li>Предметы для дизайна и Декора для дома из войлока: панно;</li>
            <li>наволочки;</li>
            <li>войлочные ковры «Ала-кииз»;</li>
            <li>головныеуборы разные;</li>
            <li>сумки;</li>
            <li>косметички;</li>
            <li>пинетки;</li>
            <li>сувенирная продукция.</li>
        </ul>
        <h6>Кыргызстан, Чуйская область с. Селекция</h6>
        <ul>
            <li>Национальная одежда: чепкен;</li>
            <li>кемсель;</li>
            <li>жилеты из бархата;</li>
            <li>калпак;</li>
            <li>топу;</li>
            <li>сувениры из войлока.</li>
        </ul>
        <h6>Кыргызстан, Чуйская область с. Беш-Кюнгей</h6>
        <ul>
            <li>Шелково-войлочные изделия: одежда;</li>
            <li>шарфы;</li>
            <li>шапки;</li>
            <li>тапочки.</li>
        </ul>
        <h6>Кыргызстан, Чуйская область с. Кызыл-Суу</h6>
        <ul>
            <li>Приданное для невесты : туш-кииз;</li>
            <li>тошок;</li>
            <li>наволочки;</li>
            <li>покрывала в технике «курак» и «вышивка»;</li>
            <li>сувенирная продукция;</li>
            <li>интерьерная продукция;</li>
            <li>чехлы для машин ;</li>
            <li>шапки;</li>
            <li>топу;</li>
            <li>сапожки;</li>
            <li>тапочки ;</li>
            <li></li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>

@*Кыргызстан, Чуйская область
г. Кант
•	Войлочно-шелковые изделия: Пальто;
•	шарфы;
•	шапки;
•	береты;
•	сумки;
•	перчатки.
Кыргызстан, Чуйская область
с. Тегирменти
•	Курак;
•	шырдак;
•	ала кийиз;
•	вышивка;
•	войлок.
Кыргызстан, Чуйская область
г. Бишкек
•	Войлочные изделия- панно,одежда,шарфы,головные уборы, украшения, перчатки,митинги, валенки, тапочки,пинетки,сувениры;
•	Интерьерная продукция из войлока- ковер-шырдак, сидушки, панно;
•	Изготовление войлока;
•	керамика- посуда, панно, украшения, сувениры;
•	кожаные изделия- панно,шахматы, украшения ,сумки, косметички,кошельки, ремни,футляры для очков и сотовых телефонов, шкатулки, сувениры;
•	Изделия из дерево- шахматы,нарды, сувениры;
•	Традиц. головные уборы - калпак, тебетей, топу, элечек;
•	Изделия из стекла: посуда,украшения;
•	Ювелирные украшения из серебра и золота, из полудрагоценных камней;
•	Вязаные изделия;
•	Лозоплетение;
•	Изделия из рога архара
•	Традиц. одежда из бархата с вышивкой- чапан, кемсел, бельдемчи, платья, жилеты;
•	Изделия в технике "стежка"- мужская, женская и детская верхняя одежда, сумки, косметички, тапочки, сувениры
Кыргызстан, Ошская область
г. Ош
•	Изделия из керамики- посуда, подсвечники, миниатюры, сувениры
•	Изделия сделанные в лоскутной технике "курак" и " традиц. вышивка";
•	Традиц. одежда с вышивкой и курак, калпак, шапки;
•	Изделия из войлока
•	Изделия из дерево
•	Лозоплетение
•	Сувениры
Кыргызстан, Нарынская область
г. Нарын
•	Войлочный ковер - Шырдак, ала-кииз;
•	Войлочные изделия -сидушки, подушки ,сувениры;
•	Изготовление войлока
Кыргызстан, Иссык-Кульская область
г. Кара-Кол
•	Войлочные изделия- панно, наволочки, сумки, тапочки, пинетки;
•	Сувениры;
•	Войлочный ковер- ширдак
Кыргызстан, Жалал-Абадская область
с. Базыл-Ата
•	Ковроткачество-безворсовые ковры;
•	Изделия сделанные в лоскутной технике и вышивка- панно, тошоки, одеяло,наволочки,;
•	войлочные ковры-шырдак,ала-кииз;
•	шитье традиц. одежды;
•	головной убор "Чалма";
•	ручное плетение;
Кыргызстан, Жалал-Абадская область
с. Курулуш
•	Ковроткачество-безворсовые ковры;
•	Изделия сделанные в лоскутной технике и вышивка- панно, тошоки, одеяло,наволочки,;
•	плетение чиевой циновки;
•	войлочные ковры-шырдак,ала-кииз;
Кыргызстан, Иссык-Кульская область
с.Чырпыкты
•	Войлочный ковер- шырдак;
•	Настенное панно с вышивкой "туш-кийизы;
Кыргызстан, Иссык-Кульская область
с. Бактуу-Долоноту
•	Ткачество;
•	Войлочный ковер-шырдак;
•	Изделия сделанные в технике вышивка :настенное панно "туш-кииз",наволочки;
Кыргызстан, Иссык-Кульская область
с. Кайырма-Арык
•	изделия для приданое невесты ;
•	войлочные ковры-ала-кииз, шырдак
Кыргызстан, Иссык-Кульская область
с. Саруу
•	Войлочные ковры- шырдак, ала-кийиз;
•	выделка шкур.
Кыргызстан, Таласская область
с.Кенеш
•	Юрта,
•	Войлочный ковер - шырдак,
•	Изделия сделанные в технике вышивка;
•	ткачество;
•	плетение чия;
Кыргызстан, Ошская область
с. Талды-Суу
•	войлочный ковер-шырдак;
•	вышивка;
•	чий;
•	ковроткачество -ворсовые ковры.
Кыргызстан, Ошская область
с. Жаны-Турмуш
•	Терме;
•	Изделия сделанные в технике вышивка-наволочки, подушки, сумочки;
•	войлочный ковер-шырдак.
Кыргызстан, Нарынская область
с. Кара-Булун
•	Юрта;
•	войлочный ковер - шырдак;
Кыргызстан, Нарынская область
с. Казыбек
•	войлочный ковер- шырдак.
Кыргызстан, Нарынская область
с. Кочкор
•	войлочный ковер - шырдак, пуфики, сидушки;
•	обработка кожи;
Кыргызстан, Нарынская область
с. Чолпон
•	Юрта ;
•	Войлочный ковер шырдак;
•	изделия в технике курак.
Кыргызстан, Нарынская область
с. Мин-Булак
•	Войлочный ковер- шырдак;
•	традиц. одежда с вышивкой.
Кыргызстан, Нарынская область
с. Чаек
•	Войлочный ковер- шырдак ;
•	ткачество;
•	изделия из чия;
Кыргызстан, Нарынская область
с. Кызыл-Жылдыз
•	войлочный ковер -шырдак;
•	конское снаряжение-седло;
Кыргызстан, Иссык-Кульская область
с. Ак-Булак
•	Войлочный ковер шырдак, ала-кииз;
•	чий.
Кыргызстан, Таласская область
с. Кок-Кашат
•	Юрта;
•	войлок;
•	шырдак;
•	курак;
•	вышивка;
•	ткачество;
•	плетение чия.
Кыргызстан, Таласская область
с.Бакайыр
•	Войлочные ковры- шырдак, ала кийиз ;
•	Приданное для невесты: изделия сделанные в лоскутной технике "курак" и вышивка
Кыргызстан, Таласская область
с. Жоон-Добо
•	Войлочный ковер-шырдак;
•	ткачество;
•	плетение чия;
•	Изделия в лоскутной технике и вышивка- панно, наволочки,тошоки;
Кыргызстан, Таласская область
с.Чолпонбай
•	Войлочные ковры-шырдак, ала кийиз;
•	изделия в лоскутной технике "курак" и вышивка
•	обработка шкур.
Кыргызстан, Ошская область
с. Кашка-Суу
•	войлочные ковры- ала кийиз, шырдак;
•	Ковроткачество;
•	Ткачество;
•	Изделия в технике вышивка- панно "туш-кииз", наволочки, салфетки;
•	чий.
Кыргызстан, Баткенская область
с. Искра
•	войлочный ковер- ала-кииз;
•	ковроткачество-ворсовые и безворсовые ковры;
•	панно с вышивкой "Туш-кииз", тошоки, сидушки,наволочки;
•	изделия сделанные в лоскутной технике " курак слоенный".
Кыргызстан, Жалал-Абадская область
с. Терек-Сай
•	войлочный ковер- шырдак, ала кийиз;
•	Изделия в лоскутной технике "курак";
•	плетение плетки;
•	обработка дерева;
•	седло;
•	музыкальный инструмент- комуз.
Кыргызстан, Жалал-Абадская область
с. Аркыт
•	Изделия сделанные в технике вышивка- панно,наволочки,сумки,;
•	Изделия сделанные в лоскутной технике "курак"- панно,покрывало, наволочки,тошок;
•	войлочный ковер -шырдак (төрбөлжүн);
•	ковроткачество-безворсовый ковер.
Кыргызстан, Чуйская область
с. Романовка
•	Ткачество;
•	головные уборы;
•	вышивка;
•	шырдак.
Кыргызстан, Чуйская область
c. Уч-Эмчек
•	Приданное для невесты: Шырдак;
•	тошок;
•	туш-кииз;
•	наволоски в технике курак;
•	вышивка;
•	аппликация.
Кыргызстан, Чуйская область
с. Шабдан
•	Шырдак;
•	туш-кииз;
•	тошок;
•	;
•	подуши в технике «курак»;
•	«сайма»;
•	приданое для невесты;
•	ала кийиз;
•	выделка шкур.
Кыргызстан, Чуйская область
с. Кара-Булак
•	Шырдак;
•	курак;
•	вышивка.
.
Кыргызстан, Таласская область
г. Талас
•	Изделия из войлока- ковер-шырдак, сидушки, сувениры;
•	Изделия из дерево-детская колыбель, сувениры;
•	Изделия для приданого невесты;
•	Традиц. одежда из бархата с вышивкой- чапан, кемсел, бельдемчи, жилеты;
•	Изделия сделанные в лоскутной технике "курак" и "вышивка"- панно "Туш-кииз", тошоки, наволочки;
Кыргызстан, Жалал-Абадская область
г. Шамалды-Сай
•	Ковроткачество-безворсовые ковры;
•	Изделия сделанные в лоскутной технике и вышивка- панно, тошоки, одеяло,наволочки,;
•	традиц. одежда;
•	ручное плетение;
Кыргызстан, Чуйская область
с.Жаны-Жер
•	Вышивка;
•	курак;
•	ткачество;
•	ковроткачество;
•	джурабы.
Кыргызстан, Баткенская область
с. Кара-Суу
•	Ковроткачество- ворсовые ковры;
•	Традиц. одежда - чепкен;
•	Изделия сделанные в лоскутной технике "курак слоеный"- панно, тошоки, наволочки
•	наволочки с вышивкой и курак слоеный.
•	Изделия сделанные в технике вышивка- панно,скатерти,наволочки,салфетки
•	Изделия из дерево.
Кыргызстан, Жалал-Абадская область
Майлуу-Суу, с. Когой
•	Музыкальный инструмент из дерево –комуз;
•	Музыкальные инструменты из метала - ооз комуз;
•	Изделия из дерево- посуда;
•	ваяние на камне;
•	керамика;
Кыргызстан, Иссык-Кульская область
с. Булан-Сороту
•	Резьба по дереву;
•	Изделия из рога- статуэтки,вазы,шкатулки, сувениры:;
Кыргызстан, Иссык-Кульская область
с. Кожояр
•	Юрты;
•	Музыкальные инструменты.
Кыргызстан, Чуйская область
с. Маловодное
•	Конское снаряжение.
Кыргызстан, Баткенская область
с. Маргун
•	Ковроткачество- ворсовые ковры;
•	Изделия сделанные в лоскутной технике "курак слоеный"- панно, тошоки, наволочки
•	наволочки с вышивкой и курак слоеный.
•	Изделия сделанные в технике вышивка- панно,скатерти,наволочки,салфетки
Кыргызстан, Баткенская область
с. Катран
•	Ковроткачество- ворсовые ковры;
•	Изделия сделанные в лоскутной технике "курак слоеный"- панно, тошоки, наволочки
•	наволочки с вышивкой и курак слоеный.
Изделия сделанные в технике вышивка- панно,скатерти,наволочки,салфетки
Кыргызстан, Баткенская область
с. Кулунду
•	Ковроткачество- ворсовые ковры;
•	Традиц. одежда - чепкен;
•	Изделия сделанные в лоскутной технике "курак слоеный"- панно, тошоки, наволочки
•	наволочки с вышивкой и курак слоеный.
Изделия сделанные в технике вышивка- панно,скатерти,наволочки,салфетки
Кыргызстан, Баткенская область
г. Исфана
•	Ковроткачество-ворсовые ковры;
•	Изделия сделанные в лоскутной технике и вышивка- панно "Туш-кииз", тошоки, наволочки";
Кыргызстан, Баткенская область
г. Кызыл-Кыя
•	ковроткачество- ворсовые и безворсовые ковры;
•	ковры-таар, терме;
•	Изделия сделанные в технике вышивка-панно "Туш-кииз", тошоки,наволочки;
Кыргызстан, Ошская область
с. Дароот-Коргон
•	ворсовые и безворсовые ковры;
•	изделия в технике «курак» и вышивка;
•	крой узоров;
•	ручное плетение декоративных кисточек;
•	традиционная одежда;
Кыргызстан, Ошская область
с. Ынтымак
•	Ворсовые и безворсовые ковры;
•	ткачество
•	вышивка;
Кыргызстан, Ошская область
с. Бел
•	ковроткачество-ворсовые и безворсовые ковры,сидушки,подушки,чехлы;
•	Изделия в технике вышивка- панно "туш-киизы", наволочки, скатерти,салфетки;
•	ткачество;
Кыргызстан, Чуйская область
с. Камышановка
•	Наволочки;
•	тошок;
•	туш-кииз в технике курак-«каттама»;
•	вышивка;
•	ковры ворсовые и безворсовые;
•	терме-таар;
•	ленты –терме;
•	сумки;
•	разные сумки в технике терме;
•	панно в технике курак-«каттама»;
•	терме;
•	ковроткачество-таар;
•	Ворсовые и безворсовые ковры;
•	вышивка гладью;
•	джурабы;
•	отделка шкур;
•	ковры –таар;
•	тканные полосы;
•	декор. кисточки.
Кыргызстан, Иссык-Кульская область
г. Чолпон-Ата
•	Изделия из кожи : конское снаряжение;
•	сувениры из кожи.
Кыргызстан, Иссык-Кульская область
с. Карал-Дөбө, токой
•	Юрты;
•	конское снаряжение.
Кыргызстан, Иссык-Кульская область
с. Сары-Булак
•	Юрты;
•	конское снаряжение.
Кыргызстан, Ошская область
с. Сары-Могол
•	Изделия сделанные в лоскутной технике и вышивка- панно, наволочки, салфетки;
•	ткачество;
•	чий.
Кыргызстан, Нарынская область
с. Ак-Муз
•	Юрта;
•	изделия в лоскутной технике и вышивка- панно, тошоки,наволочки, сидушки;
Кыргызстан, Нарынская область
с. Бирлик
•	Юрта ;
•	изделия в технике вышивка;
Кыргызстан, Чуйская область
с. Жаны Пахта
•	Вышивка;
•	курак;
•	ткачество;
•	ковроткачество;
•	джурабы.
Кыргызстан, Чуйская область
с. Новопокровка
•	Плетение чия;
•	панно;
•	наволочки с вышивка.
Кыргызстан, Иссык-Кульская область
с. Темир-Канат
•	Юрта;
•	сувениры.*@








