
@{
    ViewData["Title"] = "МИССИЯ РЕМЕСЛЕННОГО СЕКТОРА";
}


<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">МИССИЯ РЕМЕСЛЕННОГО СЕКТОРА</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            <ul>
                <li>Возрождение и развитие ремесел в Кыргызстане и Центральной Азии;</li>
                <li>консолидация усилий ремесленников в интересах взаимного обогащения культур Центральной Азии;</li>
                <li>интеграция в мировое рыночное пространство.</li>
            </ul>

        </p>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<h4 class="text-center">ЦЕННОСТИ</h4>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            <ul>
                <li>
                    Ремесленники как хранители вековых традиций.
                </li>
                <li>Высокое качество, сочетающее традиции и современность.</li>
                <li>Традиционная культура, через которую народ сохраняет свою идентичность и уникальность в условиях глобализации.</li>
            </ul>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<h4 class="text-center">ЦЕЛИ И ЗАДАЧИ</h4>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            <ul>
                <li>
                    Возрождение и развитие ремесел в Кыргызстане;
                </li>
                <li>Развитие ремесленного сектора в регионе;</li>
                <li>Совершенствование мастерства ремесленников Кыргызстана и Центральной Азии; расширение их сети;</li>
                <li>Продвижение продукции мастеров Кыргызстана и Центральной Азии на региональный и международный рынок;</li>
                <li>Развитие предпринимательства ремесленников;</li>
                <li>Оказание помощи в защите профессиональных, гражданских, экономических и социальных прав ремесленников Центральной Азии;</li>
                <li>Сохранение культурного наследия народов Кыргызстана и Центральной Азии;</li>
                <li>Повышение осведомленности мирового сообщества.</li>
            </ul>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>
