
@{
    ViewData["Title"] = "ДЕЯТЕЛЬНОСТЬ РЕМЕСЛЕННОГО СЕКТОРА";
}


<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">ДЕЯТЕЛЬНОСТЬ РЕМЕСЛЕННОГО СЕКТОРА</h4>
    </div>
</div>
  
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            <ul>
                <li>
                    Осуществление социально-экономических, культурных и образовательных программа и проектов, поддерживающих ремесленников и развитие традиционных ремесел;
                </li>
                <li>Создание информационной сети и базы данных в сфере развития ремесел;</li>
                <li>Организация ремесленных выставок, фестивалей, ярмарок, аукционов и др. массовых мероприятий;</li>
                <li>Проведение исследований в области культуры, истории и этнографии народов Центральной Азии</li>
                <li>Разработка образовательных программ и методических рекомендаций;</li>
                <li>Организация семинаров, тренингов, симпозиумов, конференций, лекций и курсов;</li>
                <li>Оказание консультационных, экспертных, информационных и других услуг;</li>
                <li>Издание печатной и аудио-видео продукции, распространение информации на других носителях;</li>
                <li>Другая деятельность по достижению целей и задач Фонда в соответствии с законодательством.</li>
            </ul>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<h4 class="text-center">ПАРТНЕРЫ</h4>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            <ul>
                <li>Министерство культуры информации и туризма КР</li>
                <li>Ремесленный совет Кыргызстана</li>
                <li>Мэрия города Бишкек</li>
                <li>Мэрия города Чолпон-Ата</li>
                <li>Фонд Толомуша Океева</li>
                <li>Общественный фонд «Ремесла и традиционные знания»</li>
                <li>фонд Хафт Пайкар (Таджикистан)</li>
                <li>«Як Хаус» (Таджикистан)</li>
                <li>«Де Памири Хэндикрафтс» (Таджикистан)</li>
                <li>Алматинская ремесленная палата (Казахстан)</li>
                <li>Ремесленный совет Казахстана (Казахстан)</li>
                <li>Общественный фонд «Шежире» (Казахстан)</li>
                <li>Общественный фонд «Хамса» (Узбекистан)</li>
                <li>Ассоциация ремесленников Бухары (Узбекистан)</li>
                <li>Туристическое агентство «Салом Трэвел» (Узбекистан)</li>
                <li>Ремесленное объединения «Арал Голден Легаси» (Узбекистан)</li>
            </ul>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<h4 class="text-center">Нормативно правовые акты</h4>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p>
            <ul>
                <li>Закон  Кыргызской Республики г.Бишкек от 16 марта 2006 года №77 «О возрождении, развитии и сохранении народного художественного промысла»</li>
                <li>Закон Кыргызской Республики г.Бишкек от 7 апреля 2009 года №119 «О культуре»</li>

            </ul>
        </p>
    </div>
    <div class="col-md-2"></div>
</div>
