
@{
    ViewData["Title"] = "SiteMap";
}
    <style>
      
    </style>
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col text-center">
            <h3> Карта сайта</h3>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-list">
            <li class="nav-header">List header</li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="nav-header">List header 2</li>
            <li class="active"><a href="#">Home 2</a></li>
            <li><a href="#">Library 2</a></li>
        </ul>
        <ul>
            <li>Элемент маркированного списка</li>
            <li>Элемент маркированного списка</li>
            <li>
                Элемент маркированного списка
                <ul >
                    <li>Элемент 2 уровня</li>
                    <li>Элемент 2 уровня</li>
                    <li>Элемент 2 уровня</li>
                </ul>
            </li>
            <li>Элемент маркированного списка</li>
            <li>Элемент маркированного списка</li>
        </ul>
    </div>

 </div>