
@{
    ViewData["Title"] = "Ministr";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center"><h3> Статс-секретарь министр культуры, информации и туризма</h3></div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-4"><img class="card-img-top" src="~/health/images/ministr.jpg" style="margin-top:0px;" alt="Card image"> </div>
    <div class="col-md-4"> </div>
    <div class="col-md-4"></div>
</div>
<br />
<div class="row">
    <h4>Секимов Бактыбек Шайыкбекович</h4>
</div>

@if (ViewBag.Lang == 2)
{

}
else
{

    <p>
        Родился  23 января 1961 года в с.Туз, Кочкорского района, Нарынской  области.
    </p>

    <p>
        <strong>Национальность: </strong> кыргыз
    </p>

    <p>
        <strong>Гражданство:</strong>
        Кыргызской Республики
    </p>

    <p>
        <strong>Образование: </strong> высшее
    </p>

    <p>
        В 1989 году Фрунзенский политехнический институт по специальности «Инженер-Механик»
    </p>
    <p>
        <strong>Классный чин: </strong> государственный советник государственной службы 3 класса
    </p>
    <p>
        <strong>Знание языков:</strong> кыргызский,  турецкий  русский, английский
    </p>
    <br />

    <h5>Трудовая деятельность:</h5>

    <p>
        1982-1983-г.г.- Фрунзенский грузовой автобаза, механик
    </p>
    <p>
        1983-1984-г.г.- Северный производственный автотрест, старший инженер
    </p>
    <p>
        1984-1993-г.г.- Бишкекская  государственная администрация, старший инженер, инструктор организационного отдела, помощник мэра, заведующий отделом внешних связей
    </p>
    <p>
        1993-1994-г.г.-Общественно Государственная управления капитального строительства  Бишкекская  городская  государственная администрация, заместитель начальника
    </p>
    <p>
        1994-1995-г.г.	Министерство Иностранных дел Кыргызской Республики, начальник отдела Управления дипломатического сервиса
    </p>
    <p>
        1995-1996-г.г.	Аппарат Правительства Кыргызской Республики, референт

    </p>
    <p>
        1996-1997-г.г.	Администрация Президента Кыргызской Республики, референт международного отдела
    </p>
    <p>
        1997-2000- г.г.	Посольства Кыргызской Республики в Республике Узбекистан, первый секретарь
    </p>
    <p>2000-2002-г.г	Исполком Международного  государственного совета  ЦАЭС, главный эксперт  </p>
    <p>
        2002-2004- г.г.	Секретариат  Совета безопасности Кыргызской Республики, консультант- эксперт
    </p>
    <p>
        2005-2006-г.г.	Министерство экономического развития, промышленности и торговли Кыргызской Республики, заведующий отделом
    </p>
    <p>
        2006-2008-г.г.	ОсОО «Артис Глобал Ко ЛТД», зааместитель исполнительного директора
    </p>
    <p>
        2008-2012- г.г.	ОсОО “Батир Курулуш”, генеральный директор
    </p>
    <p>
        2012-2015-г.г. 	Государственная регистрационная служба при Правительтсве Кыргызской Республики, статс-секретарь
    </p>
    <p>
        2015-2016 г.г.	Министерство культуры информации и туризма Кыргызской Республики, заместитель министра
    </p>
    <p>
        2016 г. по наст. время 	Министерство культуры информации и туризма Кыргызской Республики, статс-секретарь
    </p>

}
