
@{
    ViewData["Title"] = "TelefonDoveria";
}



    <div class="container ">
        <div class="row">
            <div class="col text-center">
                <h3>
                    В целях недопущения коррупции, предупреждения, предотвращения
                    преступления предусмотренных уголовным кодексом Кыргызской
                    Республики, в соответствии с Конституцией Кыргызской Республики, Закона
                    Кыргызской Республики от 8 августа 2012 года №153 «О противодействии
                    коррупции», иных нормативных правовых актов Кыргызской Республики
                </h3>
                <br />
                <p></p>
                <h3>Tel.: +996 312 62-60-24</h3>
            </div>
        </div>
    </div>

    @*<div class="container ">

            <div class="row">
                <div class="col text-center">
                    <h3> Акты регламентирующие общественный прем граждан</h3>
                </div>
            </div>
            <br><br>
                <div class="row">

                    <div class="card text-white text-center bg-light mb-3" style="max-width: 30rem;">
                        <img class="card-img" src="~/health/images/carduzor.png" alt="...">
                        <div class="card-img-overlay">
                            <h4 class="card-title">
                                Приказ
                            </h4>
                            <h6 class="card-subtitle mb-2">  Приказ Об утверждении Правил приема сообщения по «телефону доверия»</h6>
                            <p class="card-text text-center">
                                <a href="~/docs/citizen/Pravila.pdf" target="_blank">
                                    <i class="fa fa-address-book fa-3x" aria-hidden="true"></i>&nbsp;

                                </a>
                            </p>
                        </div>
                    </div>



                </div>
        </div>*@
