
@{
    ViewData["Title"] = "Хозяйствующие субъекты сферы туризма.";
}


<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Хозяйствующие субъекты сферы туризма. </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <p class="text-justify myIndent">
            На 1 января 2019 года в Кыргызской Республике зарегистрировано 111,3 тыс. хозяйствующих субъектов (юридических и физических лиц), осуществляющих экономическую деятельность, связанную со сферой туризма. В их число входят предприятия, производящие туристические товары, торгующие ими и оказывающие туристско-экскурсионные услуги, рестораны, гостиницы и аналогичные средства размещения туристов, связанные с проживанием, отдыхом и развлечениями (заповедники, национальные природные парки, альплагеря), предприятия всех видов транспорта и т.п.
        </p>
        <p class="text-justify myIndent">Из общего числа хозяйствующих субъектов (юридических и физических лиц) -  12,6 тыс. или 11,3 процента зарегистрированы как предприятия, оказывающие услуги в области рекреации и отдыха (услуги гостиничных хозяйств, базы отдыха, лечебно-оздоровительные профилактории) и общественного питания (кафе, рестораны, столовые и ашкана и др.).  В основном, такие хозяйствующие субъекты расположены в г.Бишкек – 5,4 тыс. субъектов (42,8 процента) и курортной зоне Иссык - Кульской области – 1,8 тыс. субъектов (14,3 процента).</p>
        <p class="text-justify myIndent">Индивидуальной предпринимательской деятельностью в сфере туризма, занято более 97,8 тыс. физических лиц, или 87,9 процента от общего числа зарегистрированных хозяйствующих субъектов.</p>
        

    </div>
    <div class="col-md-2"></div>
</div>
<br>

