
@{
    ViewData["Title"] = "Перечень";
}


<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">
            Перечень<br />
            международных туристических мероприятий по продвижению туристического потенциала
            Кыргызской Республики планируемых к участию / организации в странах ближнего и дальнего зарубежья в 2020 году
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-left">
        <table class="table table-hover">
            <tr class="bg-primary text-white">
                <td width="10%">№ п/п</td>
                <td width="40%">Наименование мероприятия</td>
                <td width="20%">Дата проведения </td>
                <td width="30%">Организаторы </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    Road Show Кыргызстана в Южной Корее (г. Сеул),
                    Китае (г. Пекин, 2-й город уточняется), Индии (г. Дели)
                </td>
                <td>13-17 января </td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Международная туристическая выставка FITURE - 2020, г. Мадрид, Испания</td>
                <td>22-26 января </td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Международная туристическая выставка ITB- 2020,
                    г. Берлин, Германия
                </td>
                <td>4-8 марта</td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Road Show Кыргызстана в Великобритании (г. Лондон) </td>
                <td>9-11 марта </td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>5</td>
                <td>27-я Московская международная туристическая выставка MITT – 2020, г. Москва, Российская Федерация</td>
                <td>17-19 марта</td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    Казахстанская Международная Выставка
                    Туризм и Путешествия (KITF – 2020),
                    г. Алматы, Республика Казахстан
                </td>
                <td>14-16 апреля</td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    Международная туристическая выставка
                    Arabian Travel Market (ATM - 2020),
                    г. Дубай, Объединенные Арабские Эмираты
                </td>
                <td>19-22 апреля </td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    Международная туристическая выставка
                    Korea World Travel Fair (KOTFA) 2020,
                    г. Сеул, Республика Корея
                </td>
                <td>21-24 мая </td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    Третья выездная туристическая выставка/
                    Road Show Кыргызстана в Узбекистане
                </td>
                <td>Уточняется </td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>10</td>
                <td>
                    Вторая ежегодная Туристическая ярмарка государств – участников СНГ,
                    г. Нур-Султан, Казахстан
                </td>
                <td>27 сентября </td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
            <tr>
                <td>11</td>
                <td>
                    Международная туристическая выставка
                    «World Travel Market – 2020»,
                    г. Лондон, Великобритания
                </td>
                <td>2-4 ноября</td>
                <td>Департамент туризма при МКИТ КР, международные организации (по согласованию)</td>
            </tr>
        </table> 



    </div>
    <div class="col-md-1"></div>
</div>
<br>

