
@{
    ViewData["Title"] = "TurizmReestr";
}


@{
    ViewData["Title"] = "Единый государственный реестр субъектов туристской деятельности Кыргызской Республики";
}


<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h4 class="text-center">Единый государственный реестр субъектов туристской деятельности Кыргызской Республики</h4>
    </div>
    <div class="col-md-2"></div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="text-justify myIndent">Приказом Министерства культуры, информации и туризма Кыргызской Республики утвержден Единый реестр субъектов туристской деятельности Кыргызской Республики.</p>
        <p class="text-justify myIndent">Реестр ведется в целях учета и систематизации данных о субъектах туристской деятельности Кыргызской Республики, повышения инвестиционной привлекательности страны, развития системы информационного обеспечения туризма и туристской деятельности, также обеспечения безопасности туристов на территории Кыргызской Республики.</p>
        <p class="text-justify myIndent">Для вступления в Реестр необходимо направить электронные копии документов, подтверждающие достоверность сведений, представляются субъектами на электронную почту уполномоченного органа по туризму tourismdepartmentkg@mail.ru:</p>
        <p>
            <ol>
                <li> письменное заявление о внесении сведений о субъекте туристской деятельности, удостоверенное печатью и подписью руководителя туристской организации/доверенного лица согласно приложению 1 настоящего Положения;</li>
                <li>копию документа  о государственной регистрации юридического лица (свидетельства/справки индивидуального предпринимателя);</li>
                <li>копию страхового полиса гражданско-правовой ответственности субъекта туристской деятельности;</li>
                <li>копию приказа о назначении на должность и подтверждающие полномочия руководителя юридического лица (для подтверждения сведений о полномочиях руководителя юридического лица).</li>
                <li>копию удостоверения личности руководителя юридического лица/индивидуального предпринимателя. Если руководителем является иностранный гражданин — нотариально заверенную копию паспорта, копию разрешения на работу (для подтверждения сведений о руководителе юридического лица/индивидуальном предпринимателе).</li>
            </ol>
        </p>
        <p></p>

    </div>
    <div class="col-md-2"></div>
</div>
<br>

