
@{
    ViewData["Title"] = "Департаменте туризма  при МКИТ КР";
}


<br />
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Департаменте туризма  при МКИТ КР</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">        
        <h6 class=" text-center">
            Департамент туризма при Министерстве культуры, информации и туризма Кыргызской Республики (далее - Департамент) является подведомственным подразделением Министерства культуры, информации и туризма Кыргызской Республики (далее - Министерство).
        </h6>
        <p class="text-justify myIndent">В соответствии с Положением о Департаменте туризма при Министерстве культуры, информации и туризма Кыргызской Республики, утвержденным постановлением Правительства Кыргызской Республики от 2 мая 2012 года №270,  целью деятельности Департамента является обеспечение и реализация государственной политики в туристической отрасли.</p>
        <p>  Основными задачами Департамента являются:
        <ul>
            <li>создание благоприятных условий для развития туристической отрасли;</li>
            <li>формирование положительного имиджа страны.</li>
        </ul>
        </p>
        <p></p>

    </div>
    <div class="col-md-2"></div>
</div>
<br>

